In [1]:
import pandas as pd
import numpy as np

In [809]:
df = pd.read_csv("colour_records/rec_7.csv")
df.shape

(1588, 26)

In [810]:
df[df.duplicated()]

Empty DataFrame
Columns: [b1, b2, b3, b4, b5, b6, green_0, green_2p, green_3p, green_4p, green_5p, green_6, red_0, red_2p, red_3p, red_4p, red_5p, red_6, blue_0, blue_2p, blue_3p, blue_4p, blue_5p, blue_6, colours, total]
Index: []

[0 rows x 26 columns]

In [814]:

new = df[["green_4p", "red_4p", "blue_4p"]]
vals = []
num = 4

check_1 = False
check_2 = False
check_3 = False

counter_1 = 0
counter_2 = 0
counter_3 = 0

count_list_1 = []
count_list_2 = []
count_list_3 = []

for index, row in new.iterrows():
    # if check_3 == True and count_list_2[-1] > num:
    #     counter_3 += 1
    #     if (row == 0).any():
    #         count_list_3.append(counter_3)
    #         check_3 = False
    #         counter_3 = 0
    # else:
    #     check_3 = False
    #     counter_3 = 0

    # if check_3 == True:
    #     counter_3 += 1
    #     if (row == 0).any():
    #         count_list_3.append(counter_3)
    #         check_3 = False
    #         counter_3 = 0

    if check_2 == True:
        counter_2 += 1
        if (row == 0).any():
            count_list_2.append(counter_2)
            check_3 = True
            check_2 = False
            counter_2 = 0

    if check_1 == True:
        counter_1 += 1
        if (row == 0).any():
            count_list_1.append(counter_1 + num)
            check_2 = True
            check_1 = False
            counter_1 = 0

    if (row >= num).all() and (row == num).any() and all(not var for var in [check_1, check_2]):
    # if (row >= num).all() and (row == num).any():
        check_1 = True
        vals.append(index)

t_wins = new.iloc[vals]
print("Total Wins -", len(t_wins))
t_wins

Total Wins - 89

      green_4p  red_4p  blue_4p
10          26       4       33
25          41      19        4
56           4      25        8
81          11       4       17
100          6       9        4
...        ...     ...      ...
1491         8       4       11
1503         4      11       23
1537         6       4        7
1550         4       5       20
1578         4       8        9

[89 rows x 3 columns]

In [815]:
# sum_check = []

# print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
# print("Max 2 =", max(count_list_2), sorted(count_list_2, reverse=True))
# print("Max 3 =", max(count_list_3), sorted(count_list_3, reverse=True))

# for x, y, z in zip(count_list_1, count_list_2, count_list_3):
#     sum_check.append(x + y + z)
#     print(f"{x} - {y} - {z}")
# print("all game count :", sum(sum_check))
    
# win_list = []
# for v in sorted(count_list_3):
#     if v <= 7:
#         win_list.append(v)
# print("Total Played :", len(count_list_3))
# print("Total won :", len(win_list))

sum_check = []

print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
print("Max 2 =", max(count_list_2), sorted(count_list_2, reverse=True))
# print("Max 3 =", max(count_list_3), sorted(count_list_3, reverse=True))

for x, y in zip(count_list_1, count_list_2):
    sum_check.append(x + y)
    print(f"{x} - {y}")
print("all game count :", sum(sum_check))
    
win_list = []
for v in sorted(count_list_2):
    if v <= 7:
        win_list.append(v)
print("Total Played :", len(count_list_2))
print("Total won :", len(win_list))

Max 1 = 16 [16, 16, 16, 15, 14, 14, 13, 13, 12, 12, 12, 11, 11, 10, 10, 10, 10, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
Max 2 = 27 [27, 24, 17, 17, 16, 12, 11, 10, 10, 10, 10, 9, 9, 8, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
9 - 3
5 - 1
7 - 1
9 - 3
8 - 1
12 - 16
9 - 1
6 - 1
6 - 17
5 - 2
7 - 2
7 - 2
5 - 3
5 - 7
8 - 2
5 - 6
5 - 6
13 - 6
16 - 3
6 - 1
6 - 2
5 - 1
5 - 2
5 - 1
5 - 2
5 - 10
6 - 5
9 - 2
13 - 5
7 - 6
5 - 7
14 - 1
16 - 2
8 - 5
6 - 7
10 - 1
8 - 5
5 - 2
5 - 1
10 - 1
12 - 10
11 - 2
6 - 2
5 - 3
6 - 11
5 - 3
8 - 4
6 - 12
7 - 17
6 - 7
5 - 5
7 - 1
6 - 8
5 - 3
6 - 2
6 - 5
5 - 6
9 - 1
8 - 9
8 - 7
5 - 4
15 - 1
16 - 1
5 - 3
10 - 27
5 - 10
5 - 3
6 - 1
7 - 5
7 - 6
14 - 1
6 - 5
11 - 5
6 - 5
8 - 1
5 - 4
7 - 3
6 - 5
7 - 9
12 - 4
8 - 5
6 - 7
5 - 6
8 - 3
5 - 7
5 - 24
6 - 3
6 - 10
10 - 2
all game count : 1105
Total Played : 89
Total won : 75

In [816]:
t_profit = 1000
t_loss = 6500
profit = (len(win_list) * t_profit) - ((len(count_list_1) - len(win_list)) * t_loss)
# profit = (len(t_wins) * t_profit) - (len(t_lost) * t_loss)

print("Loss Count -", len(count_list_1) - len(win_list))
print("Total played -", len(count_list_1), "\n")
print("Profit/Loss =", profit)

Loss Count - 14
Total played - 89

Profit/Loss = -16000

## Trading Strategy
- start stake = 3rd (after 2 wins)
- martingale wait space = 4
- martingale stake step = 7
- single target percentage = 1%
- martingale loss percentage = 6.5%

In [666]:
# temp = []
# num = 17
# for index, row in new.iterrows():
#     if (row >= num).all() and (row == num).any():
#         temp.append(index)

# t_lost = new.iloc[temp]
# print("Total lost -", len(t_lost))
# t_lost

In [667]:
new[50:10]

Empty DataFrame
Columns: [green_4p, red_4p, blue_4p]
Index: []

In [818]:
val = 3

print(df[f"green_{val}p"].max())
print(df[f"red_{val}p"].max())
print(df[f"blue_{val}p"].max())

17
17
13