In [1]:
import pandas as pd
import numpy as np

In [553]:
df = pd.read_csv("colour_records/rec_6.csv")
df.shape

(177, 26)

In [545]:
df[df.duplicated()]

,b1,b2,b3,b4,b5,b6,green_0,green_2p,green_3p,green_4p,...,red_5p,red_6,blue_0,blue_2p,blue_3p,blue_4p,blue_5p,blue_6,colours,total
176,46,30,10,28,9,15,33,0,0,1,...,52,1463,0,1,7,14,100,682,330,138

In [546]:

new = df[["green_4p", "red_4p", "blue_4p"]]
vals = []
num = 4

check_1 = False
check_2 = False
check_3 = False

counter_1 = 0
counter_2 = 0
counter_3 = 0

count_list_1 = []
count_list_2 = []
count_list_3 = []

for index, row in new.iterrows():
    if check_3 == True and count_list_2[-1] > num:
        counter_3 += 1
        if (row == 0).any():
            count_list_3.append(counter_3)
            check_3 = False
            counter_3 = 0
    else:
        check_3 = False
        counter_3 = 0

    # if check_3 == True:
    #     counter_3 += 1
    #     if (row == 0).any():
    #         count_list_3.append(counter_3)
    #         check_3 = False
    #         counter_3 = 0

    if check_2 == True:
        counter_2 += 1
        if (row == 0).any():
            count_list_2.append(counter_2)
            check_3 = True
            check_2 = False
            counter_2 = 0

    if check_1 == True:
        counter_1 += 1
        if (row == 0).any():
            count_list_1.append(counter_1 + num)
            check_2 = True
            check_1 = False
            counter_1 = 0

    if (row >= num).all() and (row == num).any() and all(not var for var in [check_1, check_2, check_3]):
    # if (row >= num).all() and (row == num).any():
        check_1 = True
        vals.append(index)

t_wins = new.iloc[vals]
print("Total Wins -", len(t_wins))
t_wins

Total Wins - 9

     green_4p  red_4p  blue_4p
0          42      16        4
20         11      17        4
39          5      36        4
55         21       4        7
81          4      17       33
101        11      10        4
112        22       4       15
146        12       8        4
165         9      27        4

In [547]:
# print(count_list_1)
# print(count_list_2)
# print(count_list_3)

print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
print("Max 2 =", max(count_list_2), sorted(count_list_2, reverse=True))
print("Max 3 =", max(count_list_3), sorted(count_list_3, reverse=True))

for x, y, z in zip(count_list_1, count_list_2, count_list_3):
    print(f"{x} - {y} - {z}")
    
win_list = []
for v in sorted(count_list_3):
    if v <= 7:
        win_list.append(v)
print("Total Played :", len(count_list_3))
print("Total won :", len(win_list))

Max 1 = 13 [13, 10, 9, 8, 8, 7, 6, 5, 5]
Max 2 = 8 [8, 8, 6, 5, 4, 3, 1, 1, 1]
Max 3 = 13 [13, 3, 3, 2]
7 - 6 - 3
8 - 8 - 2
5 - 8 - 3
8 - 5 - 13
Total Played : 4
Total won : 3

In [548]:
t_profit = 1000
t_loss = 6500
profit = (len(win_list) * t_profit) - ((len(count_list_3) - len(win_list)) * t_loss)
# profit = (len(t_wins) * t_profit) - (len(t_lost) * t_loss)

print("Loss Count -", len(count_list_3) - len(win_list))
print("Win Count -", len(count_list_3), "\n")
print("Profit/Loss =", profit)

Loss Count - 1
Win Count - 4

Profit/Loss = -3500

## Trading Strategy
- start stake = 3rd (after 2 wins)
- martingale wait space = 4
- martingale stake step = 7
- single target percentage = 1%
- martingale loss percentage = 6.5%

In [364]:
# temp = []
# num = 17
# for index, row in new.iterrows():
#     if (row >= num).all() and (row == num).any():
#         temp.append(index)

# t_lost = new.iloc[temp]
# print("Total lost -", len(t_lost))
# t_lost

In [146]:
new[50:10]

Empty DataFrame
Columns: [green_4p, red_4p, blue_4p]
Index: []

In [259]:
val = 4

print(df[f"green_{val}p"].max())
print(df[f"red_{val}p"].max())
print(df[f"blue_{val}p"].max())

61
52
37