In [1]:
import pandas as pd
import numpy as np

In [155]:
df = pd.read_csv("colour_records/rec_2.csv")
df

,b1,b2,b3,b4,b5,b6,green_0,green_2p,green_3p,green_4p,...,red_5p,red_6,blue_0,blue_2p,blue_3p,blue_4p,blue_5p,blue_6,colours,total
0,48,23,5,38,46,39,1,0,2,16,...,63,2594,2,0,0,1,69,3225,123,199
1,17,41,12,43,18,32,2,0,3,17,...,64,2595,3,0,0,2,70,3226,123,163
2,26,3,27,34,19,15,3,0,0,18,...,65,2596,4,1,1,3,71,3227,231,124
3,35,41,26,44,46,20,3,0,0,18,...,65,2596,4,1,1,3,71,3227,105,212
4,37,19,38,10,30,7,1,2,2,20,...,67,2598,6,1,1,1,1,3229,411,141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,14,3,18,45,41,43,2,0,0,31,...,2,2917,14,0,6,13,19,3548,132,164
324,10,46,22,17,32,41,0,1,1,32,...,3,2918,15,0,0,14,20,3549,303,168
325,33,18,48,40,46,12,1,0,0,0,...,4,2919,0,1,1,15,21,3550,240,197
326,11,7,38,31,20,46,0,1,1,1,...,5,2920,1,0,0,16,22,3551,303,153
327,37,23,1,13,10,5,0,2,2,2,...,6,2921,2,0,1,17,23,3552,402,89

In [156]:

new = df[["green_4p", "red_4p", "blue_4p"]]
vals = []
num = 14
for index, row in new.iterrows():
    if (row >= num).all() and (row == num).any():
        vals.append(index)

t_wins = new.iloc[vals]
print("Total Wins -", len(t_wins))
t_wins

Total Wins - 1

     green_4p  red_4p  blue_4p
151        14      23       19

In [160]:
temp = []
num = 17
for index, row in new.iterrows():
    if (row >= num).all() and (row == num).any():
        temp.append(index)

t_lost = new.iloc[temp]
print("Total lost -", len(t_lost))
t_lost

Total lost - 1

     green_4p  red_4p  blue_4p
154        17      26       22

In [145]:
t_profit = 2000
t_loss = 9300
profit = ((len(t_wins) - len(t_lost)) * t_profit) - (len(t_lost) * t_loss)
# profit = (len(t_wins) * t_profit) - (len(t_lost) * t_loss)

print("Loss Count -", len(t_lost))
print("Win Count -", len(t_wins), "\n")
print("Profit/Loss =", profit)

Loss Count - 0
Win Count - 4

Profit/Loss = 8000

In [146]:
new[50:10]

Empty DataFrame
Columns: [green_4p, red_4p, blue_4p]
Index: []

In [162]:
val = 3

print(df[f"green_{val}p"].max())
print(df[f"red_{val}p"].max())
print(df[f"blue_{val}p"].max())

11
19
15