In [1]:
import pandas as pd
import numpy as np

In [998]:
df = pd.read_csv("colour_records/rec_7.csv")
df.shape

(1588, 26)

In [999]:
df[df.duplicated()]

Empty DataFrame
Columns: [b1, b2, b3, b4, b5, b6, green_0, green_2p, green_3p, green_4p, green_5p, green_6, red_0, red_2p, red_3p, red_4p, red_5p, red_6, blue_0, blue_2p, blue_3p, blue_4p, blue_5p, blue_6, colours, total]
Index: []

[0 rows x 26 columns]

In [1000]:

new = df[["green_4p", "red_4p", "blue_4p"]]
vals = []
num = 0

check_1 = False
check_2 = False
check_3 = False

counter_1 = 0
counter_2 = 0
counter_3 = 0

count_list_1 = []
count_list_2 = []
count_list_3 = []

for index, row in new.iterrows():
    counter_1 += 1
    if (row == 0).any():
        vals.append(index)
        count_list_1.append(counter_1 + num)
        counter_1 = 0
    # if check_3 == True and count_list_2[-1] > num:
    #     counter_3 += 1
    #     if (row == 0).any():
    #         count_list_3.append(counter_3)
    #         check_3 = False
    #         counter_3 = 0
    # else:
    #     check_3 = False
    #     counter_3 = 0

    # if check_3 == True:
    #     counter_3 += 1
    #     if (row == 0).any():
    #         count_list_3.append(counter_3)
    #         check_3 = False
    #         counter_3 = 0

    # if check_2 == True:
    #     counter_2 += 1
    #     if (row == 0).any():
    #         count_list_2.append(counter_2)
    #         check_3 = True
    #         check_2 = False
    #         counter_2 = 0

    # if check_1 == True:
    #     counter_1 += 1
    #     if (row == 0).any():
    #         count_list_1.append(counter_1 + num)
    #         check_2 = True
    #         check_1 = False
    #         counter_1 = 0

    # if (row >= num).all() and (row == num).any() and all(not var for var in [check_1]):
    # # if (row >= num).all() and (row == num).any():
    #     check_1 = True
    #     vals.append(index)

t_wins = new.iloc[vals]
print("Total Wins -", len(t_wins))
t_wins

Total Wins - 399

      green_4p  red_4p  blue_4p
4           20       0       27
6           22       0       29
15          31       9        0
18          34      12        0
21          37      15        0
...        ...     ...      ...
1569         1      17        0
1570         2       0        1
1574         0       4        5
1584        10      14        0
1586         0      16        2

[399 rows x 3 columns]

In [1001]:
# t_wins[0:50]

In [1002]:
# sum_check = []
# print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
# print("Max 2 =", max(count_list_2), sorted(count_list_2, reverse=True))
# print("Max 3 =", max(count_list_3), sorted(count_list_3, reverse=True))

# for x, y, z in zip(count_list_1, count_list_2, count_list_3):
#     sum_check.append(x + y + z)
#     print(f"{x} - {y} - {z}")
# print("all game count :", sum(sum_check))
    
# win_list = []
# for v in sorted(count_list_3):
#     if v <= 7:
#         win_list.append(v)
# print("Total Played :", len(count_list_3))
# print("Total won :", len(win_list))

# --------------------------------------------------------------------------------

# sum_check = []
# print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
# print("Max 2 =", max(count_list_2), sorted(count_list_2, reverse=True))
# # print("Max 3 =", max(count_list_3), sorted(count_list_3, reverse=True))

# for x, y in zip(count_list_1, count_list_2):
#     sum_check.append(x + y)
#     print(f"{x} - {y}")
# print("all game count :", sum(sum_check))
    
# win_list = []
# for v in sorted(count_list_2):
#     if v <= 5:
#         win_list.append(v)
# print("Total Played :", len(count_list_2))
# print("Total won :", len(win_list))

# --------------------------------------------------------------------------------
print("Martingale =", count_list_1)
print("Max 1 =", max(count_list_1), sorted(count_list_1, reverse=True))
print("Max position", count_list_1.index(max(count_list_1)))
print("all game count :", sum(count_list_1))
    
win_list = []
for v in sorted(count_list_1):
    if v <= 17:
        win_list.append(v)
print("\nTotal Played :", len(count_list_1))
print("Total won :", len(win_list))
# --------------------------------------------------------------------------------

t_profit = 1000
t_loss = 133000
profit = (len(win_list) * t_profit) - ((len(count_list_1) - len(win_list)) * t_loss)
# profit = (len(t_wins) * t_profit) - (len(t_lost) * t_loss)

print("Loss Count -", len(count_list_1) - len(win_list))
print("\nProfit/Loss =", profit)

Martingale = [5, 2, 9, 3, 3, 5, 1, 4, 4, 1, 3, 3, 2, 2, 1, 1, 4, 7, 1, 4, 2, 3, 1, 3, 4, 9, 3, 1, 1, 3, 2, 8, 1, 3, 12, 16, 1, 4, 1, 3, 4, 2, 1, 1, 9, 1, 6, 1, 1, 2, 1, 6, 17, 4, 5, 2, 2, 1, 1, 1, 4, 3, 3, 7, 2, 7, 2, 5, 3, 1, 1, 1, 3, 2, 1, 5, 7, 8, 2, 4, 5, 6, 5, 6, 1, 4, 6, 1, 3, 1, 12, 6, 2, 16, 3, 2, 6, 1, 4, 2, 3, 2, 1, 1, 6, 2, 4, 4, 2, 2, 5, 1, 9, 1, 5, 2, 2, 2, 1, 1, 3, 2, 2, 1, 5, 1, 1, 1, 2, 1, 1, 5, 2, 5, 10, 4, 6, 5, 4, 1, 4, 4, 9, 2, 1, 2, 2, 13, 5, 2, 2, 1, 7, 6, 1, 5, 7, 14, 1, 1, 3, 1, 4, 16, 2, 2, 3, 1, 2, 2, 3, 8, 5, 2, 3, 3, 3, 1, 1, 1, 6, 7, 10, 1, 1, 2, 1, 2, 3, 1, 1, 1, 8, 5, 5, 2, 5, 1, 10, 1, 2, 12, 10, 4, 11, 2, 1, 6, 2, 2, 5, 3, 4, 6, 11, 5, 3, 1, 2, 2, 2, 6, 1, 2, 3, 8, 4, 1, 6, 12, 7, 17, 1, 2, 4, 6, 7, 5, 5, 1, 1, 7, 1, 6, 8, 3, 2, 5, 3, 6, 2, 2, 2, 6, 5, 1, 5, 6, 3, 3, 9, 1, 1, 4, 4, 2, 8, 9, 1, 2, 8, 7, 5, 4, 15, 1, 4, 16, 1, 2, 3, 2, 9, 3, 1, 2, 10, 27, 5, 10, 1, 3, 5, 3, 4, 1, 4, 6, 1, 2, 2, 2, 7, 5, 1, 2, 1, 3, 1, 1, 7, 6, 4, 1, 3, 14, 1, 2, 1, 1, 6, 5, 11, 5, 2, 4, 1, 3, 1, 6, 5, 8, 1, 2, 1, 5, 4, 2, 4, 7, 3, 4, 2, 2, 1, 2, 6, 5, 1, 1, 2, 3, 1, 7, 9, 1, 1, 2, 4, 1, 3, 12, 4, 8, 5, 6, 7, 1, 2, 1, 5, 6, 8, 3, 4, 3, 2, 2, 5, 7, 5, 24, 2, 1, 1, 1, 6, 3, 3, 1, 6, 10, 3, 3, 1, 1, 4, 10, 2]
Max 1 = 27 [27, 24, 17, 17, 16, 16, 16, 16, 15, 14, 14, 13, 12, 12, 12, 12, 12, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Max position 287
all game count : 1587

Total Played : 399
Total won : 397
Loss Count - 2

Profit/Loss = 131000

## Trading Strategy
- start stake = 3rd (after 2 wins)
- martingale wait space = 4
- martingale stake step = 7
- single target percentage = 1%
- martingale loss percentage = 6.5%

In [913]:
# temp = []
# num = 17
# for index, row in new.iterrows():
#     if (row >= num).all() and (row == num).any():
#         temp.append(index)

# t_lost = new.iloc[temp]
# print("Total lost -", len(t_lost))
# t_lost

In [847]:
new[50:10]

Empty DataFrame
Columns: [green_4p, red_4p, blue_4p]
Index: []

In [818]:
val = 3

print(df[f"green_{val}p"].max())
print(df[f"red_{val}p"].max())
print(df[f"blue_{val}p"].max())

17
17
13