In [5]:
import pandas as pd
import statistics as st
# pd.set_option('display.max_columns', None)
# ------------------------------------------------------------------------------------------------------

FIVE, FOUR, THREE, TWO, ONE, ZERO = 5, 4, 3, 2, 1, 0

# data_table = pd.DataFrame(columns=["league_id", "week", "hour", "minute", "home_team", "away_team", "home_score", "away_score"])

def txt_reader(_path):
    file = open(_path, 'r')  # Open the file in read mode
    contents = file.read()  # Read the contents of the file
    file.close()  # Close the file

    return contents

def table_creator(contents):
    
    data_table = pd.DataFrame(columns=["league_id", "week", "hour", "minute", "home_team", "away_team", "home_score", "away_score"])

    weeks = contents.split("WEEK")
    pos = weeks[0].index("League")
    league_no = int(weeks[0][(pos + 7): (pos + 11)])
    for val in weeks[1:]:
        scores = val.split("\n")[1:-1]
        for score in scores:
            temp_dict = {
                "league_id": league_no,
                "week": int((val[:3]).strip()),
                "hour": int(val.split("\n")[0][-8:-6]),
                "minute": int(val.split("\n")[0][-5:-3]),

                "home_team": score[0:3],
                "away_team": score[8:11],
                "home_score": int(score[4]),
                "away_score": int(score[6])
            }

            data_table = data_table._append(temp_dict, ignore_index=True)

    return data_table

In [6]:

df = table_creator(txt_reader("League_9.txt"))
df.head()

  league_id week hour minute home_team away_team home_score away_score
0      6134    1   14     16       EVE       LIV          1          2
1      6134    1   14     16       CRY       MNC          0          1
2      6134    1   14     16       BRN       WHU          1          0
3      6134    1   14     16       BOU       NWC          0          1
4      6134    1   14     16       FOR       LEE          0          0