In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("league_record.csv")

In [13]:
pd.set_option('display.max_columns', None)
df

,league_id,week,hour,minutes,HT,AT,HLS,ALS,HL2S,AL2S,HL3S,AL3S,HL4S,AL4S,HL5S,AL5S,hl_stat,al_stat,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,ht_points,at_points,ht_pos,at_pos
0,6095,1,12,52,EVE,MNC,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,2,2,1,-1,1,0,3,9,1
1,6095,1,12,52,BRN,TOT,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,-1,1,0,3,7,2
2,6095,1,12,52,BRI,FUL,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,1,-1,3,0,1,12
3,6095,1,12,52,LEI,WHU,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2,1,1,2,1,-1,3,0,2,19
4,6095,1,12,52,WOL,ARS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6455,6192,38,16,58,CRY,ARS,2,2,1,2,2,0,1,0,1,3,1,1,0,0,2,0,6,16,16,13,16,9,42,58,68,45,-26,13,34,61,18,6
6456,6192,38,16,58,CHE,FOR,4,0,0,0,3,1,0,1,2,0,2,0,1,0,2,0,19,8,10,14,9,16,65,40,46,63,19,-23,67,38,4,17
6457,6192,38,16,58,MNC,SOU,5,1,4,0,2,1,0,0,2,2,2,0,2,0,2,0,24,9,7,4,7,25,82,39,47,67,35,-28,79,31,2,19
6458,6192,38,16,58,MNU,BRI,1,0,4,1,3,1,2,1,3,1,2,0,2,2,2,2,21,11,6,11,11,16,66,49,48,49,18,0,69,44,4,14
6459,6192,38,16,58,EVE,WOL,1,1,0,2,2,0,0,1,1,1,1,1,0,2,0,0,13,12,9,11,16,15,58,53,57,60,1,-7,48,47,12,13

In [4]:
# Define function to check home and away scores and return result
def get_result(row):
    if row['HLS'] > row['ALS']:
        return 2  # home_win = 2
    elif row['HLS'] < row['ALS']:
        return 1  # away_win = 1
    else:
        return 0  # draw = 0

In [14]:
from sklearn.preprocessing import StandardScaler

df_result = df.copy()

# Apply function to each row of the dataframe to create a new column
df_result['result'] = df_result.apply(get_result, axis=1)

df_result = df_result[df_result['week'] > 4]  # remove rows with incomplete values

# remove irrelevant features
df_result = df_result.drop(["league_id", "week", "hour", "minutes", "HLS", "ALS", "HT", "AT", "hl_stat", "al_stat"], axis=1)  

df_result = df_result.reset_index(drop=True)  # reset the index values

# Scaling the dataset using standardization method
X = df_result.drop("result", axis=1)
y = df_result["result"]

# assume that X is your dataset with numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# # concatenate the scaled numerical features with the categorical features
data_preprocessed = pd.concat([pd.DataFrame(X_scaled, columns=X.columns), y], axis=1)

data_preprocessed

,HL2S,AL2S,HL3S,AL3S,HL4S,AL4S,HL5S,AL5S,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,ht_points,at_points,ht_pos,at_pos,result
0,0.687197,-0.359378,0.485566,-1.119002,-0.242789,0.493459,-0.322161,0.622162,1.273166,-0.097203,1.094812,-1.096899,-1.164839,-1.542201,-1.389361,-0.514838,-1.201243,-1.416770,-1.498251,-1.549782,-1.392651,-1.268698,-0.154213,-0.346555,-1.346685,-1.510766,-0.694149,0.495646,0
1,-1.114571,1.284631,2.975131,-1.119002,-1.127605,-1.166240,0.512857,0.622162,-1.078296,1.075726,1.094812,-1.096899,-0.967570,-1.345448,-1.681646,-1.392213,-1.201243,-1.006194,-1.303856,-1.485063,-1.658268,-1.401575,0.347998,-0.132214,-1.226809,-1.510766,-1.040415,0.841307,2
2,-0.213687,-0.359378,-0.344289,-1.119002,-1.127605,-0.336390,1.347876,0.622162,-1.078296,-1.270132,-0.077042,-1.096899,-1.362107,-1.148694,-1.097077,-1.392213,-1.201243,-1.211482,-1.498251,-1.549782,-1.326247,-1.667329,-0.225958,0.082127,-1.466561,-1.331447,0.344648,-0.195675,0
3,-1.114571,-0.359378,-1.174144,2.445032,-1.127605,1.323308,-1.157180,1.504422,-1.078296,1.075726,-0.077042,1.251277,-1.559375,-0.558433,-1.097077,-1.684672,-0.995611,-1.622058,-1.822242,-0.902593,-1.459055,-1.667329,-0.441191,0.796596,-1.646374,-0.853264,1.556578,-1.578318,1
4,0.687197,0.462626,2.145276,-0.227993,0.642028,0.493459,0.512857,-0.260099,1.273166,1.075726,1.094812,-1.096899,-0.967570,-0.951940,-1.681646,-1.684672,-1.201243,-1.211482,-1.174260,-1.355626,-1.392651,-1.534452,0.204509,0.153574,-1.226809,-1.211902,-1.213547,-0.886997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5775,-0.213687,0.462626,0.485566,-1.119002,-0.242789,-1.166240,-0.322161,1.504422,-1.078296,-1.270132,1.094812,-1.096899,-0.375765,1.605857,2.994902,2.117287,1.677614,0.225532,0.834484,1.880319,2.591603,1.056647,-1.876080,0.939490,0.271639,1.896291,1.383445,-0.714166,0
5776,-1.114571,-1.181382,1.315421,-0.227993,-1.127605,-0.336390,0.512857,-1.142359,0.097435,-1.270132,1.094812,-1.096899,2.188723,0.031828,1.241197,2.409746,0.238185,1.662547,2.324842,0.715379,1.130710,2.252538,1.352420,-1.632599,2.249590,0.521514,-1.040415,1.186968,2
5777,2.488965,-1.181382,0.485566,-0.227993,-1.127605,-1.166240,0.512857,0.622162,1.273166,-1.270132,1.094812,-1.096899,3.175064,0.228581,0.364344,-0.514838,-0.173080,3.510138,3.426411,0.650660,1.197114,2.518292,2.500331,-1.989833,2.968846,0.103103,-1.386680,1.532629,2
5778,2.488965,-0.359378,1.315421,-0.227993,0.642028,-0.336390,1.347876,-0.260099,1.273166,1.075726,1.094812,1.251277,2.583259,0.622089,0.072060,1.532371,0.649451,1.662547,2.389640,1.297849,1.263519,1.322400,1.280675,0.010680,2.369466,0.880151,-1.040415,0.668477,2
5779,-1.114571,0.462626,0.485566,-1.119002,-1.127605,-0.336390,-0.322161,-0.260099,-1.078296,1.075726,-1.248896,-1.096899,1.005113,0.818842,0.948912,1.532371,1.677614,1.457259,1.871255,1.556725,1.861157,2.053223,0.061020,-0.489448,1.110770,1.059470,0.344648,0.495646,0

In [15]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load your dataset into a pandas DataFrame
dataset = data_preprocessed.copy()

# Specify the target variable
target_var = 'result'

# Specify the number of folds for k-fold cross-validation
n_splits = 80

# Initialize the KFold cross-validation object
kfold = KFold(n_splits=n_splits, shuffle=True, random_state=42)

# Initialize a list to store the accuracy scores for each fold
accuracy_scores = []

# Loop over each fold
for train_idx, test_idx in kfold.split(dataset):
    # Split the data into training and testing sets for the current fold
    X_train, X_test = dataset.drop(target_var, axis=1).iloc[train_idx], dataset.drop(target_var, axis=1).iloc[test_idx]
    y_train, y_test = dataset[target_var].iloc[train_idx], dataset[target_var].iloc[test_idx]
    
    # Initialize a random forest classifier with default hyperparameters
    rf = RandomForestClassifier(random_state=42)
    
    # Fit the classifier to the training data
    rf.fit(X_train, y_train)
    
    # Make predictions on the test data
    y_pred = rf.predict(X_test)
    
    # Calculate the accuracy score for the current fold
    accuracy = accuracy_score(y_test, y_pred)
    
    # Append the accuracy score to the list
    accuracy_scores.append(accuracy)

# Calculate the mean accuracy score across all folds
mean_accuracy = sum(accuracy_scores) / n_splits

print(f"Mean accuracy score: {mean_accuracy}")

Mean accuracy score: 0.6123097412480973

In [8]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import time

driver = webdriver.Chrome("chrome_driver/chromedriver.exe")

# Navigate to a web page
driver.get("https://vsmobile.bet9ja.com/mobile/themes/?sk=bet9ja&t=b61c29e6-9348-4c58-af90-378760a74693&game"
               "=league_premier&pid=14001,14003,14011,14012,14014,14015,14016,"
               "14017&v=0&text=Premier&lang=en_GB#resutls&ui_state=dialog")
driver.maximize_window()

print("waiting ...")
time.sleep(3)

driver.find_element(By.XPATH, "//div[@class='ui-panel-wrapper']//i[@class='fa fa-bars icon-menu']").click()
time.sleep(1)

driver.find_element(By.XPATH, "//a[@id='a_bet_results']").click()
time.sleep(3)

driver.find_element(By.XPATH, "//div[@id='results_content']").click()
time.sleep(1)

# driver.send_keys(Keys.CONTROL + 'a')
# driver.send_keys(Keys.CONTROL + 'c')

action = ActionChains(driver)
action.key_down(Keys.CONTROL).send_keys('a').key_up(Keys.CONTROL).perform()
action.key_down(Keys.CONTROL).send_keys('c').key_up(Keys.CONTROL).perform()

# Get the copied text from the clipboard
import pyperclip
copied_text = pyperclip.paste()
 
# # Print the copied text
# print(copied_text)
time.sleep(3)
# Close the browser session
driver.quit()

C:\Users\CJay\AppData\Local\Temp\ipykernel_21472\1533923922.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chrome_driver/chromedriver.exe")

waiting ...

In [9]:
copied_text

'\r\nlogo\r\nLeague 6182\t\r\nResultsLeague Table\r\nWEEK 1   3:04:00\r\nMNU\t1-1\tWOL\r\nLIV\t5-0\tBOU\r\nCRY\t3-1\tSOU\r\nMNC\t6-0\tFUL\r\nTOT\t1-0\tFOR\r\nASV\t3-2\tWHU\r\nBRI\t2-1\tEVE\r\nNWC\t1-0\tLEI\r\nARS\t0-2\tCHE\r\nBRN\t3-0\tLEE\r\nWEEK 2   3:06:00\r\nLEE\t4-0\tFUL\r\nLEI\t0-1\tMNC\r\nEVE\t1-1\tARS\r\nWHU\t0-2\tCRY\r\nBRN\t2-4\tMNU\r\nFOR\t0-0\tLIV\r\nWOL\t0-4\tASV\r\nBOU\t0-1\tBRI\r\nCHE\t1-3\tNWC\r\nSOU\t2-3\tTOT\r\nWEEK 3   3:08:00\r\nMNC\t1-2\tCHE\r\nASV\t2-1\tBRN\r\nLIV\t0-0\tSOU\r\nFUL\t0-1\tLEI\r\nCRY\t4-2\tWOL\r\nBRI\t2-0\tFOR\r\nNWC\t1-2\tEVE\r\nTOT\t1-2\tWHU\r\nARS\t2-2\tBOU\r\nMNU\t2-2\tLEE\r\nWEEK 4   3:10:00\r\nWHU\t1-2\tLIV\r\nBRN\t1-1\tCRY\r\nEVE\t0-0\tMNC\r\nLEE\t1-1\tLEI\r\nBOU\t0-1\tNWC\r\nFOR\t1-1\tARS\r\nSOU\t2-2\tBRI\r\nMNU\t3-0\tASV\r\nCHE\t2-2\tFUL\r\nWOL\t0-1\tTOT\r\nWEEK 5   3:12:00\r\nFUL\t3-3\tEVE\r\nNWC\t1-0\tFOR\r\nMNC\t2-2\tBOU\r\nBRI\t1-1\tWHU\r\nARS\t2-2\tSOU\r\nASV\t1-1\tLEE\r\nCRY\t2-2\tMNU\r\nLEI\t2-2\tCHE\r\nTOT\t2-3\tBRN\r\nLIV\t2-1\tWOL\r\nWEEK 6   3:14:00\r\nWHU\t1-1\tARS\r\nASV\t5-1\tCRY\r\nBOU\t0-1\tFUL\r\nSOU\t0-5\tNWC\r\nWOL\t2-0\tBRI\r\nFOR\t1-4\tMNC\r\nEVE\t2-2\tLEI\r\nBRN\t3-2\tLIV\r\nLEE\t1-1\tCHE\r\nMNU\t5-1\tTOT\r\nWEEK 7   3:16:00\r\nARS\t1-2\tWOL\r\nTOT\t2-2\tASV\r\nLIV\t3-1\tMNU\r\nBRI\t4-0\tBRN\r\nCHE\t3-2\tEVE\r\nNWC\t2-1\tWHU\r\nFUL\t2-1\tFOR\r\nCRY\t0-1\tLEE\r\nMNC\t2-0\tSOU\r\nLEI\t6-0\tBOU\r\nWEEK 8   3:18:00\r\nCRY\t0-0\tTOT\r\nWHU\t1-2\tMNC\r\nWOL\t1-2\tNWC\r\nBOU\t0-2\tCHE\r\nSOU\t1-1\tFUL\r\nFOR\t1-2\tLEI\r\nMNU\t0-1\tBRI\r\nASV\t0-0\tLIV\r\nLEE\t2-0\tEVE\r\nBRN\t2-2\tARS\r\n'