In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [10]:
df = pd.read_csv("league_record.csv")

In [11]:
pd.set_option('display.max_columns', None)

df

,league_id,week,hour,minutes,HT,AT,HCS,ACS,HL1S,AL1S,HL2S,AL2S,HL3S,AL3S,hl1_stat,al1_stat,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,hs_avg,as_avg,hw_rat,aw_rat,hl_rat,al_rat,hd_rat,ad_rat,ht_points,at_points,ht_pos,at_pos
0,6095,1,12,52,EVE,MNC,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,2,2,1,-1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,3,9,1
1,6095,1,12,52,BRN,TOT,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,-1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,3,7,2
2,6095,1,12,52,BRI,FUL,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,1,-1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,0,1,12
3,6095,1,12,52,LEI,WHU,2,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2,1,1,2,1,-1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3,0,2,19
4,6095,1,12,52,WOL,ARS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,1,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9875,6230,38,17,6,LIV,NWC,5,0,1,2,3,3,1,0,-1,1,1,1,1,0,24,13,5,11,9,14,81,47,38,54,43,-7,1.666667,1.666667,0.621622,0.351351,0.243243,0.351351,0.135135,0.297297,77,50,2,11
9876,6230,38,17,6,WHU,TOT,1,3,0,2,2,1,2,1,-1,1,1,-1,1,-1,12,19,6,10,20,9,47,62,57,56,-10,6,1.333333,1.333333,0.324324,0.486486,0.513514,0.243243,0.162162,0.270270,42,67,14,4
9877,6230,38,17,6,ASV,MNC,1,3,0,2,1,1,1,3,-1,-1,-1,1,1,1,15,28,11,6,12,4,49,88,39,32,10,56,0.666667,2.000000,0.405405,0.729730,0.297297,0.108108,0.297297,0.162162,56,90,7,1
9878,6230,38,17,6,FOR,EVE,0,1,1,0,1,2,1,0,-1,-1,-1,0,0,-1,7,16,12,10,19,12,32,44,56,41,-24,3,1.000000,0.666667,0.189189,0.405405,0.486486,0.324324,0.324324,0.270270,33,58,19,7
9879,6230,38,17,6,FUL,MNU,1,2,2,1,2,1,0,0,0,1,0,-1,-1,-1,6,20,10,7,22,11,31,56,67,37,-36,19,1.333333,0.666667,0.162162,0.513514,0.567568,0.297297,0.270270,0.189189,28,67,20,4

In [77]:

def data_preprocessor(data):
    global df_result
    df_result = data.copy()

    # Define function to check home and away scores and return result
    def get_result(row):
        if row['HCS'] > row['ACS']:
            return 2  # home_win = 2
        elif row['HCS'] < row['ACS']:
            return 1  # away_win = 1
        else:
            return 0  # draw = 0
        
    # Apply function to each row of the dataframe to create a new column
    df_result['result'] = df_result.apply(get_result, axis=1)

    df_result = df_result[df_result['week'] > 4]  # remove rows with incomplete values

    # remove irrelevant features
    df_result = df_result.drop(["league_id", "week", "hour", "minutes", "HCS", "ACS", "HT", "AT"], axis=1)  

    df_result = df_result.reset_index(drop=True)  # reset the index values

    # Scaling the dataset using standardization method
    X = df_result.drop("result", axis=1)
    y = df_result["result"]

    # assume that X is your dataset with numerical features
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    # # concatenate the scaled numerical features with the categorical features
    data_preprocessed = pd.concat([pd.DataFrame(X_scaled, columns=X.columns), y], axis=1)

    return data_preprocessed

In [78]:
processed_data = data_preprocessor(df)
processed_data

,HL1S,AL1S,HL2S,AL2S,HL3S,AL3S,hl1_stat,al1_stat,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,hs_avg,as_avg,hw_rat,aw_rat,hl_rat,al_rat,hd_rat,ad_rat,ht_points,at_points,ht_pos,at_pos,result
0,0.690324,-0.373400,0.465722,-1.120086,-0.237264,0.474152,1.283689,-0.108848,1.083488,-1.086182,-1.097396,-0.075039,-1.183818,-1.568120,-1.393950,-0.507119,-1.214037,-1.430765,-1.487527,-1.539770,-1.391741,-1.268313,-0.156768,-0.351650,0.506129,-0.523067,0.806298,-2.201719,0.819235,-0.726225,-2.251125,4.068022,-1.357917,-1.525186,-0.691528,0.495234,0
1,-1.114072,1.268408,2.942850,-1.120086,-1.129024,-1.175073,-1.065754,1.064591,1.083488,-1.086182,-1.097396,-1.242892,-0.984174,-1.368664,-1.690207,-1.396002,-1.214037,-1.017635,-1.294238,-1.475385,-1.657673,-1.401335,0.352727,-0.133962,0.506129,-0.523067,0.806298,-0.710788,0.819235,0.853993,-2.251125,-0.133798,-1.237182,-1.525186,-1.037164,0.840233,2
2,-0.211874,-0.373400,-0.359987,-1.120086,-1.129024,-0.350460,-1.065754,-1.282288,-0.086420,-1.086182,-1.097396,1.092815,-1.383463,-1.169208,-1.097693,-1.396002,-1.214037,-1.224200,-1.487527,-1.539770,-1.325259,-1.667381,-0.229553,0.083726,-0.922105,-0.985644,-0.686842,0.780142,0.819235,0.853993,-0.133086,-2.234709,-1.478652,-1.344316,0.345383,-0.194765,0
3,-1.114072,-0.373400,-1.185696,2.461597,-1.129024,1.298765,-1.065754,1.064591,-0.086420,1.259451,0.075353,1.092815,-1.583107,-0.570841,-1.097693,-1.692297,-1.007045,-1.637329,-1.809674,-0.895926,-1.458224,-1.667381,-0.447908,0.809353,-1.874262,1.789816,-2.179982,3.762003,0.819235,-2.306443,1.984952,-2.234709,-1.659755,-0.861997,1.555111,-1.574762,1
4,0.690324,0.447504,2.117141,-0.224666,0.654495,0.474152,1.283689,1.064591,1.083488,-1.086182,1.248102,1.092815,-0.984174,-0.969752,-1.690207,-1.692297,-1.214037,-1.224200,-1.165379,-1.346617,-1.391741,-1.534358,0.207157,0.156289,1.934364,0.402086,2.299438,0.780142,-0.747681,0.853993,-2.251125,-2.234709,-1.237182,-1.223736,-1.209983,-0.884763,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8835,-0.211874,0.447504,1.291432,1.566176,-0.237264,-1.175073,-1.065754,1.064591,1.083488,1.259451,1.248102,-0.075039,3.208356,1.024806,-0.208922,1.566941,0.234902,1.254577,3.344685,1.164374,0.602746,1.658186,3.118559,-0.496775,0.506129,0.402086,1.532691,-0.106357,-0.790030,-0.085596,-1.106239,0.263671,2.867818,1.248153,-1.382801,0.150235,2
8836,-1.114072,0.447504,0.465722,-0.224666,0.654495,-0.350460,-1.065754,1.064591,1.083488,-1.086182,1.248102,-1.242892,0.812625,2.221540,0.087336,1.270647,2.511806,0.221753,1.154082,2.130139,1.865921,1.791209,-0.739048,0.446540,0.030051,-0.060491,-0.242935,0.699551,0.903934,-0.768934,-0.877262,0.036546,0.754951,2.273082,0.691019,-1.057263,1
8837,-1.114072,0.447504,-0.359987,-0.224666,-0.237264,1.298765,-1.065754,-1.282288,-1.256327,1.259451,1.248102,1.092815,1.411557,4.016643,1.568621,0.085470,0.855876,-0.811070,1.282941,3.804133,0.669229,0.194937,0.716653,4.074674,-0.922105,0.864662,0.241326,2.150186,-0.451237,-1.623106,0.267624,-0.871956,1.600098,3.659752,-0.518709,-1.574762,1
8838,-0.211874,-1.194304,-0.359987,0.670755,-0.237264,-1.175073,-1.065754,-1.282288,-1.256327,0.086635,0.075353,-1.242892,-0.185597,1.623173,1.864878,1.270647,2.304815,0.841448,0.187640,0.971221,1.799438,0.793539,-1.758039,0.228852,-0.446027,-0.985644,-1.050038,0.216006,0.734537,-0.256430,0.496601,0.036546,0.211642,1.730472,1.555111,-0.539764,1
8839,0.690324,-0.373400,0.465722,-0.224666,-1.129024,-1.175073,0.108967,1.064591,-0.086420,-1.086182,-1.097396,-1.242892,-0.385241,2.420996,1.272364,0.381764,2.925789,0.634883,0.123210,1.743833,2.530750,0.527494,-2.631459,1.389855,0.030051,-0.985644,-1.211459,0.860733,1.242726,-0.427265,0.038647,-0.644831,-0.090196,2.273082,1.727929,-1.057263,1

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

# Load your dataset into a pandas DataFrame
dataset = processed_data

# Load your dataset into X and y arrays
X = dataset.drop("result", axis=1)
y = dataset["result"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a random forest classifier with 100 trees
rfc = RandomForestClassifier(random_state=42)

# Fit the model on the training data
rfc.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rfc.predict(X_test)

# Calculate the accuracy and F1 score of the model
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')

print('Accuracy:', accuracy)
print('F1 score:', f1)

Accuracy: 0.6951357466063348
F1 score: 0.679784963649518

In [ ]:


# Accuracy: 0.6951357466063348
# F1 score: 0.679784963649518

In [33]:
new = processed_data.copy().head(5)
check = new["result"]
new = new.drop("result", axis=1)
new1 = rfc.predict(new)
see = accuracy_score(check, new1)
see

1.0

In [80]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score

# Load your dataset into a pandas DataFrame
dataset = processed_data

# Specify the target variable
target_var = 'result'

# Specify the number of folds for k-fold cross-validation
n_splits = 100

# Initialize the KFold cross-validation object
kfold = KFold(n_splits=n_splits, shuffle=True, random_state=42)

# Initialize lists to store the accuracy and F1 scores for each fold
accuracy_scores = []
f1_scores = []

# Loop over each fold
for train_idx, test_idx in kfold.split(dataset):
    # Split the data into training and testing sets for the current fold
    X_train, X_test = dataset.drop(target_var, axis=1).iloc[train_idx], dataset.drop(target_var, axis=1).iloc[test_idx]
    y_train, y_test = dataset[target_var].iloc[train_idx], dataset[target_var].iloc[test_idx]
    
    # Initialize a random forest classifier with default hyperparameters
    rf = RandomForestClassifier(random_state=42)
    
    # Fit the classifier to the training data
    rf.fit(X_train, y_train)
    
    # Make predictions on the test data
    y_pred = rf.predict(X_test)
    
    # Calculate the accuracy and F1 score for the current fold
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    
    # Append the accuracy and F1 scores to the lists
    accuracy_scores.append(accuracy)
    f1_scores.append(f1)

# Calculate the mean accuracy and F1 score across all folds
mean_accuracy = sum(accuracy_scores) / n_splits
mean_f1 = sum(f1_scores) / n_splits

print(f"Mean accuracy score: {mean_accuracy}")
print(f"Mean F1 score: {mean_f1}")

Mean accuracy score: 0.7037461695607764
Mean F1 score: 0.6904530247238667

In [ ]:

# Mean accuracy score: 0.7037461695607764
# Mean F1 score: 0.6904530247238667

In [ ]:
# Testing the model

test = df.loc[8355:8359]
test

new = data_preprocessor(test)
new = new.drop("result", axis=1)
new_pred = rfc.predict(new)
new_pred

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import time

driver = webdriver.Chrome("chrome_driver/chromedriver.exe")

# Navigate to a web page
driver.get("https://vsmobile.bet9ja.com/mobile/themes/?sk=bet9ja&t=b61c29e6-9348-4c58-af90-378760a74693&game"
               "=league_premier&pid=14001,14003,14011,14012,14014,14015,14016,"
               "14017&v=0&text=Premier&lang=en_GB#resutls&ui_state=dialog")
# driver.maximize_window()

print("waiting ...")
time.sleep(2)

driver.find_element(By.XPATH, "//div[@class='ui-panel-wrapper']//i[@class='fa fa-bars icon-menu']").click()
time.sleep(1)

driver.find_element(By.XPATH, "//a[@id='a_bet_results']").click()
time.sleep(3)

all_weeks = driver.find_element(By.XPATH, "//table[@id='results-div-header-mainTable']").text
print(all_weeks)

# driver.find_element(By.XPATH, "//div[@id='results_content']").click()
# time.sleep(1)

# action = ActionChains(driver)
# action.key_down(Keys.CONTROL).send_keys('a').key_up(Keys.CONTROL).perform()
# action.key_down(Keys.CONTROL).send_keys('c').key_up(Keys.CONTROL).perform()

# # Get the copied text from the clipboard
# import pyperclip
# copied_text = pyperclip.paste()
 
# # Print the copied text
# print(copied_text)
time.sleep(3)

# Close the browser session
# driver.quit()

In [78]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException, TimeoutException
import time
from selenium.webdriver.chrome.service import Service

service = Service("chrome_driver/chromedriver.exe")
driver = webdriver.Chrome(service=service)

# Navigate to a web page
driver.get("https://vsmobile.bet9ja.com/mobile/themes/?sk=bet9ja&t=b61c29e6-9348-4c58-af90-378760a74693&game"
               "=league_premier&pid=14001,14003,14011,14012,14014,14015,14016,"
               "14017&v=0&text=Premier&lang=en_GB#resutls&ui_state=dialog")
# driver.maximize_window()
time.sleep(10)

action = ActionChains(driver)
record_list = []

print("Waiting For New Record ...")
while True:
    week_num = driver.find_element(By.XPATH, "//span[@id='leagueWeekNumber']").text
    counter = driver.find_element(By.XPATH, "//div[@id='bets-time-betContdown']").text

    if counter[:2] == "00" and int(counter[-2:]) < 58 and int(counter[-2:]) > 20:
        start_time = time.time()
        print("Start data collection  ...")
        # time.sleep(2)

        match_result = driver.find_element(By.XPATH, "//div[@id='tab_id_Match_Result']").text
        # print(match_result)

        driver.find_element(By.XPATH, "//a[@id='ui-id-3']").click()
        # time.sleep(1)
        over_one = driver.find_element(By.XPATH, "//div[@id='tab_id_Over_Under_1_5']").text
        # print("\n", over_one)

        market_select = driver.find_element(By.XPATH, "//select[@id='bet-select-market']")

        market_select.click()
        arrow_down = [ActionChains(driver).send_keys(Keys.ARROW_DOWN).perform() for _ in range(3)]
        action.send_keys(Keys.ENTER).perform()
        over_two = driver.find_element(By.XPATH, "//div[@id='tab_id_Over_Under_2_5']").text
        # print("\n", over_two)

        market_select.click()
        arrow_down = [ActionChains(driver).send_keys(Keys.ARROW_DOWN).perform() for _ in range(4)]
        action.send_keys(Keys.ENTER).perform()
        over_three = driver.find_element(By.XPATH, "//div[@id='tab_id_Over_Under_3_5']").text
        # print("\n", over_three)

        market_select.click()
        arrow_down = [ActionChains(driver).send_keys(Keys.ARROW_DOWN).perform() for _ in range(5)]
        action.send_keys(Keys.ENTER).perform()
        over_four = driver.find_element(By.XPATH, "//div[@id='tab_id_Over_Under_4_5']").text
        # print("\n", over_four)

        end_time = time.time()
        print("Odds Collection Time:", end_time - start_time)
        print("\nPlease Wait \nNew Records Loading ...")

        while True:
            counter = driver.find_element(By.XPATH, "//div[@id='bets-time-betContdown']").text
            # print("return -", driver.find_element(By.XPATH, "//span[@id='leagueWeekNumber']").text)
            current_week = driver.find_element(By.XPATH, "//span[@id='leagueWeekNumber']").text
            if current_week == "01":
                current_week = 39
            if counter[:2] == "00" and int(counter[-2:]) < 58 and int(counter[-2:]) > 50 and int(current_week) == int(week_num) + 1:
                print("inside IF statement")
                driver.find_element(By.XPATH, "//div[@class='ui-panel-wrapper']//i[@class='fa fa-bars icon-menu']").click()

                driver.find_element(By.XPATH, "//a[@id='a_bet_results']").click()
                time.sleep(8)
                score_result = driver.find_element(By.XPATH, "//table[@id='results-div-header-mainTable']").text
                # print(score_result)
                driver.find_element(By.XPATH, "//div[@id='results']//i[@class='fa fa-bars icon-menu']").click()
                time.sleep(2)
                driver.find_element(By.XPATH, "//li[@class='li_bet']//a[@id='a_bet_bet']").click()
                time.sleep(3)
                break
            else:
                time.sleep(1)   

        # print("week -", week_num)
        match_result = match_result.split("\n")[2::2]
        over_one = over_one.split("\n")[2::2]
        over_two = over_two.split("\n")[2::2]
        over_three = over_three.split("\n")[2::2]
        over_four = over_four.split("\n")[2::2]
        score_result = score_result.split(f"WEEK {int(current_week) - 1}")[1].split("\n")[1:11]

        temp_rec = []
        for hda, one, two, three, four, score in zip(match_result, over_one, over_two, over_three, over_four, score_result):
            data = (int(current_week) - 1,
                    hda[:3], hda[6:9], 
                    float(hda[-14:-10]), float(hda[-9:-5]), float(hda[-4:]),
                    float(one[-9:-5]), float(one[-4:]), 
                    float(two[-9:-5]), float(two[-4:]), 
                    float(three[-9:-5]), float(three[-4:]), 
                    float(four[-9:-5]), float(four[-4:]),
                    int(score[4]), int(score[6]))
            temp_rec.append(data)
            record_list.append(data)
            
        for rec in temp_rec:
            print(rec)
            
        print("\nWeek", int(current_week) - 1, "Data Collection Complete ...\n")

        if int(current_week) == 39:
            new_df = pd.DataFrame(record_list, columns=[
                "week",
                "HT", "HT", "home", "draw", "away", 
                "over_1", "under_1", 
                "over_2", "under_2",
                "over_3", "under_3",
                "over_4", "under_4",
                "H_score", "A_score"])
            new_df.to_csv("odds_data.csv", index=False)
    else:
        time.sleep(1)

        

time.sleep(3)

# Close the browser session
driver.quit()

Waiting For New Record ...
Start data collection  ...
Odds Collection Time: 3.320976972579956

Please Wait
New Records Loading ...
inside IF statement
(19, 'WHU', 'BUR', 1.55, 4.05, 6.24, 1.26, 3.83, 1.87, 1.93, 3.32, 1.33, 7.45, 1.09, 0, 0)
(19, 'CHE', 'EVE', 1.65, 3.63, 5.82, 1.21, 4.47, 1.73, 2.11, 2.87, 1.42, 6.3, 1.12, 5, 0)
(19, 'SHU', 'TOT', 3.84, 3.16, 2.1, 1.23, 4.17, 1.79, 2.03, 2.99, 1.39, 6.74, 1.1, 1, 1)
(19, 'NWC', 'ARS', 3.52, 3.65, 2.02, 1.26, 3.81, 1.84, 1.97, 3.27, 1.34, 7.33, 1.09, 1, 0)
(19, 'FOR', 'BOU', 2.29, 3.02, 3.53, 1.33, 3.35, 2.07, 1.75, 3.76, 1.27, 9.27, 1.06, 2, 2)
(19, 'WOL', 'MNC', 6.08, 4.37, 1.52, 1.23, 4.2, 1.73, 2.1, 3.06, 1.38, 6.59, 1.11, 0, 0)
(19, 'LUT', 'MNU', 4.87, 3.34, 1.83, 1.22, 4.31, 1.74, 2.09, 2.89, 1.42, 6.4, 1.11, 1, 1)
(19, 'ASV', 'CRY', 1.86, 3.42, 4.51, 1.25, 3.94, 1.83, 1.97, 3.17, 1.36, 7.11, 1.09, 4, 1)
(19, 'BRN', 'FUL', 1.77, 3.43, 5.15, 1.27, 3.78, 1.89, 1.91, 3.29, 1.33, 7.54, 1.08, 2, 1)
(19, 'LIV', 'BRI', 2.05, 3.21, 3.95, 1.23, 4.18, 1.79, 2.03, 3.0, 1.39, 6.76, 1.1, 0, 3)

Week 19 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 0.9714689254760742

Please Wait
New Records Loading ...
inside IF statement
(20, 'ARS', 'BUR', 1.23, 6.21, 13.0, 1.16, 5.24, 1.55, 2.46, 2.47, 1.54, 4.84, 1.18, 1, 0)
(20, 'SHU', 'MNU', 4.87, 3.34, 1.83, 1.22, 4.31, 1.74, 2.09, 2.89, 1.42, 6.4, 1.11, 0, 0)
(20, 'FOR', 'BRI', 3.03, 3.2, 2.44, 1.25, 3.95, 1.83, 1.97, 3.15, 1.36, 7.13, 1.09, 2, 1)
(20, 'ASV', 'NWC', 2.48, 3.2, 2.98, 1.26, 3.83, 1.88, 1.92, 3.26, 1.34, 7.53, 1.09, 2, 1)
(20, 'BRN', 'BOU', 1.77, 3.43, 5.15, 1.27, 3.78, 1.89, 1.91, 3.29, 1.33, 7.54, 1.08, 1, 1)
(20, 'CHE', 'MNC', 3.52, 3.65, 2.02, 1.26, 3.81, 1.84, 1.97, 3.27, 1.34, 7.33, 1.09, 0, 0)
(20, 'WOL', 'TOT', 3.0, 3.16, 2.49, 1.27, 3.77, 1.89, 1.91, 3.28, 1.34, 7.57, 1.08, 1, 1)
(20, 'LIV', 'CRY', 1.77, 3.33, 5.32, 1.22, 4.33, 1.74, 2.09, 2.87, 1.42, 6.36, 1.12, 2, 3)
(20, 'LUT', 'FUL', 2.43, 3.24, 3.01, 1.33, 3.31, 2.07, 1.76, 3.85, 1.26, 9.22, 1.06, 2, 0)
(20, 'WHU', 'EVE', 1.77, 3.43, 5.15, 1.27, 3.78, 1.89, 1.91, 3.29, 1.33, 7.54, 1.08, 2, 3)

Week 20 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 0.9082562923431396

Please Wait
New Records Loading ...
inside IF statement
(21, 'BRI', 'BRN', 2.15, 3.09, 3.79, 1.24, 4.01, 1.83, 1.97, 3.11, 1.37, 7.18, 1.09, 2, 1)
(21, 'MNC', 'WHU', 1.47, 4.38, 7.03, 1.18, 4.86, 1.61, 2.31, 2.64, 1.48, 5.44, 1.15, 2, 2)
(21, 'TOT', 'CHE', 2.48, 3.2, 2.98, 1.26, 3.83, 1.88, 1.92, 3.26, 1.34, 7.53, 1.09, 0, 4)
(21, 'NWC', 'LIV', 2.59, 3.16, 2.87, 1.27, 3.78, 1.88, 1.92, 3.28, 1.34, 7.55, 1.08, 1, 2)
(21, 'CRY', 'FOR', 1.96, 3.25, 4.27, 1.33, 3.29, 2.09, 1.74, 3.85, 1.26, 9.31, 1.06, 0, 0)
(21, 'MNU', 'WOL', 1.77, 3.33, 5.32, 1.22, 4.33, 1.74, 2.09, 2.87, 1.42, 6.36, 1.12, 1, 2)
(21, 'ASV', 'ARS', 4.16, 3.81, 1.82, 1.27, 3.72, 1.87, 1.93, 3.41, 1.32, 7.62, 1.08, 2, 1)
(21, 'FUL', 'SHU', 1.95, 3.29, 4.25, 1.33, 3.33, 2.08, 1.75, 3.83, 1.26, 9.27, 1.06, 2, 2)
(21, 'EVE', 'BUR', 1.95, 3.29, 4.25, 1.33, 3.33, 2.08, 1.75, 3.83, 1.26, 9.27, 1.06, 3, 1)
(21, 'BOU', 'LUT', 1.95, 3.29, 4.25, 1.33, 3.33, 2.08, 1.75, 3.83, 1.26, 9.27, 1.06, 2, 0)

Week 21 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 1.1241259574890137

Please Wait
New Records Loading ...
inside IF statement
(22, 'SHU', 'BOU', 2.43, 3.24, 3.01, 1.33, 3.31, 2.07, 1.76, 3.85, 1.26, 9.22, 1.06, 0, 1)
(22, 'WHU', 'TOT', 2.43, 3.23, 3.02, 1.28, 3.67, 1.93, 1.87, 3.43, 1.31, 7.95, 1.08, 0, 3)
(22, 'BUR', 'MNC', 8.62, 4.9, 1.36, 1.21, 4.45, 1.67, 2.2, 2.85, 1.42, 5.92, 1.13, 2, 2)
(22, 'CHE', 'MNU', 2.59, 3.16, 2.87, 1.27, 3.78, 1.88, 1.92, 3.28, 1.34, 7.55, 1.08, 2, 1)
(22, 'ARS', 'EVE', 1.29, 5.52, 10.1, 1.15, 5.34, 1.53, 2.5, 2.45, 1.55, 4.79, 1.18, 3, 1)
(22, 'LIV', 'ASV', 2.05, 3.21, 3.95, 1.23, 4.18, 1.79, 2.03, 3.0, 1.39, 6.76, 1.1, 3, 1)
(22, 'FOR', 'NWC', 3.54, 3.0, 2.3, 1.24, 4.05, 1.83, 1.97, 3.07, 1.37, 7.14, 1.09, 2, 2)
(22, 'BRN', 'CRY', 1.94, 3.32, 4.25, 1.29, 3.6, 1.97, 1.84, 3.53, 1.3, 8.34, 1.07, 3, 0)
(22, 'LUT', 'BRI', 3.84, 3.16, 2.1, 1.23, 4.17, 1.79, 2.03, 2.99, 1.39, 6.74, 1.1, 2, 1)
(22, 'WOL', 'FUL', 1.96, 3.25, 4.27, 1.33, 3.29, 2.09, 1.74, 3.85, 1.26, 9.31, 1.06, 2, 0)

Week 22 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 0.9237980842590332

Please Wait
New Records Loading ...
inside IF statement
(23, 'LIV', 'ARS', 2.86, 3.54, 2.38, 1.24, 4.04, 1.8, 2.02, 3.13, 1.36, 6.99, 1.1, 1, 2)
(23, 'ASV', 'FOR', 1.65, 3.63, 5.82, 1.22, 4.24, 1.77, 2.04, 3.01, 1.39, 6.68, 1.11, 3, 0)
(23, 'MNU', 'WHU', 1.85, 3.47, 4.5, 1.21, 4.44, 1.72, 2.12, 2.86, 1.42, 6.28, 1.12, 3, 0)
(23, 'TOT', 'BUR', 1.46, 4.36, 7.2, 1.23, 4.13, 1.78, 2.04, 3.09, 1.37, 6.73, 1.1, 4, 1)
(23, 'BRI', 'SHU', 1.46, 4.36, 7.2, 1.23, 4.13, 1.78, 2.04, 3.09, 1.37, 6.73, 1.1, 3, 2)
(23, 'FUL', 'CHE', 3.54, 3.0, 2.3, 1.24, 4.05, 1.83, 1.97, 3.07, 1.37, 7.14, 1.09, 2, 1)
(23, 'CRY', 'LUT', 1.76, 3.44, 5.15, 1.33, 3.29, 2.08, 1.75, 3.88, 1.26, 9.29, 1.06, 2, 1)
(23, 'NWC', 'BRN', 2.05, 3.21, 3.95, 1.23, 4.18, 1.79, 2.03, 3.0, 1.39, 6.76, 1.1, 2, 3)
(23, 'BOU', 'WOL', 2.45, 3.19, 3.03, 1.29, 3.61, 1.94, 1.86, 3.45, 1.31, 8.0, 1.08, 0, 0)
(23, 'MNC', 'EVE', 1.29, 5.52, 10.1, 1.15, 5.34, 1.53, 2.5, 2.45, 1.55, 4.79, 1.18, 2, 2)

Week 23 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 1.5636556148529053

Please Wait
New Records Loading ...
inside IF statement
(24, 'BUR', 'MNU', 4.87, 3.34, 1.83, 1.22, 4.31, 1.74, 2.09, 2.89, 1.42, 6.4, 1.11, 0, 2)
(24, 'WOL', 'BRI', 3.0, 3.16, 2.49, 1.27, 3.77, 1.89, 1.91, 3.28, 1.34, 7.57, 1.08, 1, 2)
(24, 'EVE', 'TOT', 3.03, 3.2, 2.44, 1.25, 3.95, 1.83, 1.97, 3.15, 1.36, 7.13, 1.09, 1, 1)
(24, 'ARS', 'MNC', 2.45, 3.19, 3.03, 1.23, 4.14, 1.78, 2.03, 3.01, 1.39, 6.76, 1.1, 3, 3)
(24, 'SHU', 'CRY', 3.02, 3.19, 2.46, 1.27, 3.78, 1.88, 1.92, 3.3, 1.33, 7.58, 1.08, 0, 1)
(24, 'LUT', 'NWC', 4.38, 3.33, 1.91, 1.23, 4.16, 1.78, 2.04, 3.01, 1.39, 6.74, 1.1, 1, 1)
(24, 'WHU', 'FUL', 1.77, 3.43, 5.15, 1.27, 3.78, 1.89, 1.91, 3.29, 1.33, 7.54, 1.08, 2, 3)
(24, 'BRN', 'ASV', 2.43, 3.23, 3.02, 1.28, 3.67, 1.93, 1.87, 3.43, 1.31, 7.95, 1.08, 1, 2)
(24, 'FOR', 'LIV', 3.93, 3.24, 2.05, 1.21, 4.39, 1.73, 2.1, 2.87, 1.42, 6.35, 1.12, 0, 3)
(24, 'CHE', 'BOU', 1.65, 3.63, 5.82, 1.21, 4.47, 1.73, 2.11, 2.87, 1.42, 6.3, 1.12, 2, 2)

Week 24 Data Collection Complete ...

Start data collection  ...
Odds Collection Time: 1.6373519897460938

Please Wait
New Records Loading ...

In [77]:
import pandas as pd
new_df = pd.DataFrame(record_list, columns=[
    "week",
    "HT", "HT", "home", "draw", "away", 
    "over_1", "under_1", 
    "over_2", "under_2",
    "over_3", "under_3",
    "over_4", "under_4",
    "H_score", "A_score"])

new_df

,week,HT,HT,home,draw,away,over_1,under_1,over_2,under_2,over_3,under_3,over_4,under_4,H_score,A_score
0,2,LIV,NWC,2.25,3.04,3.59,1.23,4.21,1.78,2.03,2.96,1.40,6.79,1.10,2,4
1,2,WOL,MNU,3.70,3.07,2.19,1.24,4.10,1.83,1.98,3.08,1.37,7.13,1.09,0,1
2,2,LUT,BOU,2.43,3.24,3.01,1.33,3.31,2.07,1.76,3.85,1.26,9.22,1.06,2,1
3,2,ARS,ASV,1.57,4.03,6.02,1.20,4.56,1.69,2.17,2.84,1.43,6.09,1.12,1,1
4,2,WHU,MNC,5.07,3.91,1.67,1.25,3.99,1.80,2.01,3.18,1.35,7.07,1.10,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,17,LIV,FUL,1.56,3.95,6.25,1.20,4.58,1.68,2.18,2.78,1.44,5.91,1.13,0,1
156,17,CHE,WHU,2.05,3.21,3.95,1.23,4.18,1.79,2.03,3.00,1.39,6.76,1.10,2,0
157,17,WOL,BUR,1.76,3.44,5.15,1.33,3.29,2.08,1.75,3.88,1.26,9.29,1.06,1,1
158,17,FOR,MNU,3.93,3.24,2.05,1.21,4.39,1.73,2.10,2.87,1.42,6.35,1.12,4,0
159,17,LUT,MNC,8.62,4.90,1.36,1.21,4.45,1.67,2.20,2.85,1.42,5.92,1.13,1,4

In [61]:
f"WEEK {int(week_num) - 1}"

'WEEK 33'

In [28]:
counter[:2]

'00'

In [20]:
result = all_weeks.split("WEEK 26")[1].split("\n")[1:11]
result

['CRY 1-1 LUT',
 'BRI 3-1 BOU',
 'FUL 0-0 WHU',
 'BUR 1-1 ARS',
 'FOR 1-1 TOT',
 'BRN 1-2 MNU',
 'WOL 1-2 MNC',
 'SHU 3-3 NWC',
 'CHE 1-0 ASV',
 'LIV 2-2 EVE']

In [21]:
for row in result:
    print(row[4], row[6])

1 1
3 1
0 0
1 1
1 1
1 2
1 2
3 3
1 0
2 2

In [53]:

each_row = []
new_weeks = "".join([x for x in all_weeks if x != " "])
new_weeks = new_weeks.split("WEEK")

count = 0
for week in new_weeks[1:]:
    num_week = week.split("\n")[0]
    num_week = num_week[0] if len(num_week) == 9 else num_week[:2]

    count += 1
    if len(new_weeks[1:]) != count:
        week = week[:-1]

    for match in week.split("\n")[1:]:
        home_t = match[:3]
        ht_score = match[3]
        away_t = match[-3:]
        at_score = match[5]
    
        each_row.append((home_t, away_t, ht_score, at_score))

import pandas as pd
df = pd.DataFrame(each_row, columns=['HT', 'AT', 'HCS', 'ACS'])
print(df)

new_weeks

      HT   AT HCS ACS
0    BRI  TOT   0   2
1    BRN  ARS   1   2
2    WHU  NWC   1   2
3    ASV  WOL   1   0
4    SHU  CRY   0   1
..   ...  ...  ..  ..
265  FUL  SHU   2   1
266  WHU  BOU   1   1
267  BRI  MNU   2   0
268  ARS  LUT   1   0
269  TOT  FOR   2   0

[270 rows x 4 columns]

['',
 '119:12:00\nBRI0-2TOT\nBRN1-2ARS\nWHU1-2NWC\nASV1-0WOL\nSHU0-1CRY\nMNC0-2LIV\nMNU3-0EVE\nBUR0-0FOR\nBOU1-1CHE\nFUL2-0LUT\n',
 '219:14:00\nEVE2-0WOL\nMNU3-1BOU\nLUT1-2BUR\nCHE2-1MNC\nARS2-2ASV\nLIV3-3SHU\nTOT0-0BRN\nFOR1-2WHU\nCRY3-1FUL\nNWC3-2BRI\n',
 '319:16:00\nASV0-0TOT\nWHU3-1LUT\nBRI0-2FOR\nSHU0-0CHE\nBUR1-1CRY\nMNC0-0MNU\nBRN1-2NWC\nFUL1-1LIV\nBOU1-1EVE\nWOL0-0ARS\n',
 '419:18:00\nFOR1-2BRN\nCRY0-0WHU\nLUT1-3BRI\nMNU0-0SHU\nNWC5-1ASV\nCHE1-1FUL\nLIV1-0BUR\nBOU1-5MNC\nEVE2-2ARS\nTOT2-2WOL\n',
 '519:20:00\nWOL2-1NWC\nBRI1-3CRY\nMNC2-1EVE\nBRN2-2LUT\nBUR0-0CHE\nWHU2-2LIV\nSHU3-0BOU\nFUL1-1MNU\nARS3-2TOT\nASV0-3FOR\n',
 '619:22:00\nLIV1-2BRI\nNWC2-0ARS\nBOU3-3FUL\nMNU0-1BUR\nMNC4-0SHU\nEVE3-1TOT\nCRY1-1BRN\nCHE3-1WHU\nLUT0-2ASV\nFOR1-1WOL\n',
 '719:24:00\nTOT0-2NWC\nWOL0-1LUT\nBUR1-1BOU\nBRI3-2CHE\nFUL0-2MNC\nASV0-1CRY\nSHU1-2EVE\nBRN0-0LIV\nWHU0-3MNU\nARS2-0FOR\n',
 '819:26:00\nMNC4-1BUR\nLUT1-1ARS\nEVE0-3NWC\nCHE3-0BRN\nFOR0-0TOT\nMNU1-1BRI\nLIV1-1ASV\nCRY0-2WOL\nSHU2-2FUL\nBOU2-3WHU\n',
 '919:28:00\nBRI0-1BOU\nWOL0-1LIV\nASV3-1CHE\nFUL2-0EVE\nTOT1-3LUT\nBRN0-1MNU\nNWC1-1FOR\nARS2-0CRY\nWHU2-4MNC\nBUR2-3SHU\n',
 '1019:30:00\nLUT0-1NWC\nEVE3-0FOR\nCRY1-2TOT\nBOU1-1BRN\nSHU1-1WHU\nLIV0-2ARS\nFUL1-2BUR\nCHE4-2WOL\nMNU1-3ASV\nMNC3-0BRI\n',
 '1119:32:00\nWHU3-1FUL\nBRI3-0SHU\nWOL1-3MNU\nTOT0-2LIV\nASV3-2BOU\nBUR2-1EVE\nARS3-1CHE\nNWC1-1CRY\nBRN1-1MNC\nFOR2-0LUT\n',
 '1219:34:00\nBUR1-0WHU\nLIV2-1NWC\nMNC2-2ASV\nCRY3-2FOR\nMNU1-1ARS\nEVE1-2LUT\nFUL0-0BRI\nCHE1-1TOT\nBOU0-0WOL\nSHU0-0BRN\n',
 '1319:36:00\nBRN0-1FUL\nWOL1-0MNC\nARS5-1BOU\nASV0-1SHU\nLUT1-3CRY\nBRI1-1BUR\nFOR0-0LIV\nTOT1-1MNU\nNWC1-2CHE\nWHU0-1EVE\n',
 '1419:38:00\nLIV2-0LUT\nEVE1-1CRY\nBOU2-0TOT\nWHU3-3BRI\nBUR1-1BRN\nSHU1-1WOL\nMNU0-0NWC\nMNC2-1ARS\nCHE1-0FOR\nFUL0-4ASV\n',
 '1519:40:00\nASV2-0BUR\nFOR3-1MNU\nBRI3-3EVE\nWOL3-1FUL\nLUT0-1CHE\nNWC2-1BOU\nBRN1-0WHU\nTOT1-2MNC\nCRY2-2LIV\nARS1-1SHU\n',
 '1619:42:00\nEVE1-0LIV\nBUR1-2WOL\nFUL1-3ARS\nWHU2-1ASV\nSHU0-2TOT\nBOU0-0FOR\nMNU2-0LUT\nBRI0-1BRN\nMNC1-0NWC\nCHE1-1CRY\n',
 '1719:44:00\nTOT2-2FUL\nARS0-0BUR\nWOL2-1WHU\nBRN0-1EVE\nLIV1-2CHE\nNWC1-0SHU\nASV2-2BRI\nLUT3-2BOU\nCRY1-0MNU\nFOR1-2MNC\n',
 '1819:46:00\nSHU2-0FOR\nFUL0-1NWC\nMNC2-1LUT\nWHU1-1ARS\nBRI1-2WOL\nBRN1-0ASV\nEVE3-3CHE\nMNU2-3LIV\nBUR2-4TOT\nBOU0-2CRY\n',
 '1919:48:00\nTOT0-1WHU\nWOL0-0BRN\nARS2-1BRI\nLUT2-2SHU\nNWC1-0BUR\nCRY0-4MNC\nCHE2-1MNU\nLIV2-0BOU\nFOR1-1FUL\nASV1-0EVE\n',
 '2019:50:00\nFOR0-1BUR\nTOT0-0BRI\nARS4-2BRN\nCHE5-0BOU\nCRY0-1SHU\nLIV0-0MNC\nWOL1-1ASV\nEVE1-2MNU\nNWC4-1WHU\nLUT2-3FUL\n',
 '2119:52:00\nBUR0-0LUT\nSHU0-2LIV\nBRN2-4TOT\nFUL3-2CRY\nMNC2-0CHE\nBOU2-2MNU\nWOL0-1EVE\nASV0-1ARS\nWHU2-1FOR\nBRI1-3NWC\n',
 '2219:54:00\nCRY1-0BUR\nLIV4-0FUL\nFOR3-0BRI\nCHE2-1SHU\nEVE2-1BOU\nMNU3-0MNC\nNWC3-1BRN\nLUT1-0WHU\nTOT2-1ASV\nARS5-0WOL\n',
 '2319:56:00\nBRI1-0LUT\nMNC2-1BOU\nARS1-0EVE\nBRN2-2FOR\nSHU2-2MNU\nWHU2-2CRY\nBUR0-0LIV\nFUL1-1CHE\nASV1-1NWC\nWOL1-1TOT\n',
 '2419:58:00\nTOT3-0ARS\nCHE0-2BUR\nLIV0-0WHU\nFOR3-2ASV\nNWC4-0WOL\nCRY1-4BRI\nBOU3-2SHU\nMNU2-2FUL\nLUT1-2BRN\nEVE0-1MNC\n',
 '2520:00:00\nWHU3-1CHE\nBRN1-0CRY\nWOL2-0FOR\nBUR1-0MNU\nBRI1-2LIV\nARS2-4NWC\nASV2-1LUT\nFUL1-0BOU\nTOT2-1EVE\nSHU0-3MNC\n',
 '2620:02:00\nFOR1-2ARS\nEVE1-1SHU\nCRY0-2ASV\nLIV1-1BRN\nNWC1-2TOT\nBOU2-0BUR\nCHE1-0BRI\nMNC3-3FUL\nMNU0-2WHU\nLUT1-0WOL\n',
 '2720:04:00\nBRN1-5CHE\nASV0-0LIV\nNWC1-2EVE\nBUR0-2MNC\nWOL2-1CRY\nFUL2-1SHU\nWHU1-1BOU\nBRI2-0MNU\nARS1-0LUT\nTOT2-0FOR']

In [22]:
home_t, away_t = [], []
ht_score, at_score = [], []

new = "".join([x for x in week_1 if x != " "])
new = new.split("\n")

for match in new[1:]:
    home_t.append(match[:3])
    ht_score.append(match[3])

    away_t.append(match[-3:])
    at_score.append(match[5])

for x, y, a, b in zip(home_t, away_t, ht_score, at_score):
    print(x, a,"-", b, y)
new

SHU 1 - 3 FOR
WHU 2 - 0 CHE
BRI 0 - 0 BOU
WOL 2 - 1 EVE
LUT 2 - 0 LIV
FUL 1 - 2 BRN
ASV 0 - 1 MNU
MNC 1 - 2 NWC
TOT 2 - 0 BUR
ARS 4 - 0 CRY

['WEEK116:40:00',
 'SHU1-3FOR',
 'WHU2-0CHE',
 'BRI0-0BOU',
 'WOL2-1EVE',
 'LUT2-0LIV',
 'FUL1-2BRN',
 'ASV0-1MNU',
 'MNC1-2NWC',
 'TOT2-0BUR',
 'ARS4-0CRY']

In [ ]:
//body[1]/div[8]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr[6]/td[1]
//body[1]/div[8]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr[6]/td[1]/table[1]

//body[1]/div[8]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr[1]/td[1]/table[1]