In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("league_record.csv")

In [3]:
pd.set_option('display.max_columns', None)

In [8]:
df

,league_id,week,hour,minutes,HT,AT,HLS,ALS,HL2S,AL2S,HL3S,AL3S,HL4S,AL4S,HL5S,AL5S,hl_stat,al_stat,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,ht_points,at_points,ht_pos,at_pos
0,6095,1,12,52,EVE,MNC,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,2,2,1,-1,1,0,3,9,1
1,6095,1,12,52,BRN,TOT,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,-1,1,0,3,7,2
2,6095,1,12,52,BRI,FUL,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,1,-1,3,0,1,12
3,6095,1,12,52,LEI,WHU,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,2,1,1,2,1,-1,3,0,2,19
4,6095,1,12,52,WOL,ARS,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,6155,38,18,6,WHU,BOU,3,0,0,3,2,0,1,3,0,1,W,L,L,W,L,D,8,10,17,8,13,20,45,39,57,67,-12,-28,41,38,14,15
2656,6155,38,18,6,LEI,WOL,1,1,1,1,0,2,0,3,0,0,D,D,D,D,D,D,9,7,17,15,12,16,51,45,59,57,-8,-12,44,36,11,20
2657,6155,38,18,6,FUL,LEE,1,1,0,1,0,4,4,1,1,1,D,D,L,D,L,W,8,11,15,14,15,13,37,49,55,55,-18,-6,39,47,15,9
2658,6155,38,18,6,EVE,CHE,1,3,0,1,2,2,1,0,1,3,L,W,D,L,W,W,8,22,12,12,18,4,36,69,57,31,-21,38,36,78,19,3
2659,6155,38,18,6,MNU,BRI,2,1,2,0,2,3,0,3,1,0,W,L,W,L,D,W,13,11,15,11,10,16,57,46,49,46,8,0,54,44,8,10

In [10]:
df = df[df['week'] > 4]
df

,league_id,week,hour,minutes,HT,AT,HLS,ALS,HL2S,AL2S,HL3S,AL3S,HL4S,AL4S,HL5S,AL5S,hl_stat,al_stat,hl2_stat,al2_stat,hl3_stat,al3_stat,h_wins,a_wins,h_draws,a_draws,h_loss,a_loss,h_gf,a_gf,h_ga,a_ga,h_gd,a_gd,ht_points,at_points,ht_pos,at_pos
40,6095,5,13,0,EVE,BOU,0,0,2,1,2,0,1,2,1,2,D,D,W,D,W,L,2,0,1,4,2,1,6,5,8,10,-2,-5,7,4,6,13
41,6095,5,13,0,LEI,LEE,2,1,0,3,5,0,0,0,2,2,W,L,L,W,W,L,3,1,0,1,2,3,9,6,4,8,5,-2,9,4,4,15
42,6095,5,13,0,CRY,NWC,1,1,1,1,1,0,0,1,3,2,D,D,L,L,D,L,1,2,2,1,2,2,6,5,9,4,-3,1,5,7,12,9
43,6095,5,13,0,FUL,LIV,1,4,0,1,0,4,0,3,0,3,L,W,L,W,D,W,0,5,2,0,3,0,1,15,7,4,-6,11,2,15,19,1
44,6095,5,13,0,ASV,WHU,1,2,2,2,4,1,2,2,2,1,L,W,W,W,W,L,3,3,0,0,2,2,11,8,8,6,3,2,9,9,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,6155,38,18,6,WHU,BOU,3,0,0,3,2,0,1,3,0,1,W,L,L,W,L,D,8,10,17,8,13,20,45,39,57,67,-12,-28,41,38,14,15
2656,6155,38,18,6,LEI,WOL,1,1,1,1,0,2,0,3,0,0,D,D,D,D,D,D,9,7,17,15,12,16,51,45,59,57,-8,-12,44,36,11,20
2657,6155,38,18,6,FUL,LEE,1,1,0,1,0,4,4,1,1,1,D,D,L,D,L,W,8,11,15,14,15,13,37,49,55,55,-18,-6,39,47,15,9
2658,6155,38,18,6,EVE,CHE,1,3,0,1,2,2,1,0,1,3,L,W,D,L,W,W,8,22,12,12,18,4,36,69,57,31,-21,38,36,78,19,3
2659,6155,38,18,6,MNU,BRI,2,1,2,0,2,3,0,3,1,0,W,L,W,L,D,W,13,11,15,11,10,16,57,46,49,46,8,0,54,44,8,10

In [11]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from category_encoders import TargetEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# # Example dataset with categorical features
# df = pd.DataFrame({
#     'hl_stat': ['A', 'B', 'C', 'A', 'B'],
#     'al_stat': ['X', 'Y', 'X', 'Z', 'Z'],
#     'hl2_stat': ['D', 'E', 'F', 'D', 'E'],
#     'al2_stat': ['W', 'X', 'Y', 'Z', 'Z'],
#     'hl3_stat': ['G', 'H', 'I', 'G', 'H'],
#     'al3_stat': ['W', 'X', 'Y', 'Z', 'W'],
#     'HLS': [0, 1, 0, 1, 1]
# })

# Split the dataset into training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['HLS']), df['HLS'], test_size=0.2, random_state=42)

# One-hot encoding
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoder.fit(X_train[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat']])
X_train_onehot = pd.DataFrame(onehot_encoder.transform(X_train[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat']]), columns=onehot_encoder.get_feature_names())
X_test_onehot = pd.DataFrame(onehot_encoder.transform(X_test[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat']]), columns=onehot_encoder.get_feature_names())

# Ordinal encoding
ordinal_encoder = LabelEncoder()
X_train_ordinal = X_train.copy()
X_train_ordinal['hl_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['hl_stat'])
X_train_ordinal['al_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['al_stat'])
X_train_ordinal['hl2_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['hl2_stat'])
X_train_ordinal['al2_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['al2_stat'])
X_train_ordinal['hl3_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['hl3_stat'])
X_train_ordinal['al3_stat'] = ordinal_encoder.fit_transform(X_train_ordinal['al3_stat'])
X_test_ordinal = X_test.copy()
X_test_ordinal['hl_stat'] = ordinal_encoder.transform(X_test_ordinal['hl_stat'])
X_test_ordinal['al_stat'] = ordinal_encoder.transform(X_test_ordinal['al_stat'])
X_test_ordinal['hl2_stat'] = ordinal_encoder.transform(X_test_ordinal['hl2_stat'])
X_test_ordinal['al2_stat'] = ordinal_encoder.transform(X_test_ordinal['al2_stat'])
X_test_ordinal['hl3_stat'] = ordinal_encoder.transform(X_test_ordinal['hl3_stat'])
X_test_ordinal['al3_stat'] = ordinal_encoder.transform(X_test_ordinal['al3_stat'])

# Label encoding
label_encoder = LabelEncoder()
X_train_label = X_train.copy()
X_train_label['hl_stat'] = label_encoder.fit_transform(X_train_label['hl_stat'])
X_train_label['al_stat'] = label_encoder.fit_transform(X_train_label['al_stat'])
X_train_label['hl2_stat'] = label_encoder.fit_transform(X_train_label['hl2_stat'])
X_train_label['al2_stat'] = label_encoder.fit_transform(X_train_label['al2_stat'])
X_train_label['hl3_stat'] = label_encoder.fit_transform(X_train_label['hl3_stat'])
X_train_label['al3_stat'] = label_encoder.fit_transform(X_train_label['al3_stat'])
X_test_label = X_test.copy()
X_test_label['hl_stat'] = label_encoder.transform(X_test_label['hl_stat'])
X_test_label['al_stat'] = label_encoder.transform(X_test_label['al_stat'])
X_test_label['hl2_stat'] = label_encoder.transform(X_test_label['hl2_stat'])
X_test_label['al2_stat'] = label_encoder.transform(X_test_label['al2_stat'])
X_test_label['hl3_stat'] = label_encoder.transform(X_test_label['hl3_stat'])
X_test_label['al3_stat'] = label_encoder.transform(X_test_label['al3_stat'])

# Frequency encoding
freq_encoding_hl_stat = X_train['hl_stat'].value_counts(normalize=True)
freq_encoding_al_stat = X_train['al_stat'].value_counts(normalize=True)
freq_encoding_hl2_stat = X_train['hl2_stat'].value_counts(normalize=True)
freq_encoding_al2_stat = X_train['al2_stat'].value_counts(normalize=True)
freq_encoding_hl3_stat = X_train['hl3_stat'].value_counts(normalize=True)
freq_encoding_al3_stat = X_train['al3_stat'].value_counts(normalize=True)

X_train_freq = X_train.copy()
X_train_freq['hl_stat'] = X_train_freq['hl_stat'].map(freq_encoding_hl_stat)
X_train_freq['al_stat'] = X_train_freq['al_stat'].map(freq_encoding_al_stat)
X_train_freq['hl2_stat'] = X_train_freq['hl2_stat'].map(freq_encoding_hl2_stat)
X_train_freq['al2_stat'] = X_train_freq['al2_stat'].map(freq_encoding_al2_stat)
X_train_freq['hl3_stat'] = X_train_freq['hl3_stat'].map(freq_encoding_hl3_stat)
X_train_freq['al3_stat'] = X_train_freq['al3_stat'].map(freq_encoding_al3_stat)

X_test_freq = X_test.copy()
X_test_freq['hl_stat'] = X_test_freq['hl_stat'].map(freq_encoding_hl_stat)
X_test_freq['al_stat'] = X_test_freq['al_stat'].map(freq_encoding_al_stat)
X_test_freq['hl2_stat'] = X_test_freq['hl2_stat'].map(freq_encoding_hl2_stat)
X_test_freq['al2_stat'] = X_test_freq['al2_stat'].map(freq_encoding_al2_stat)
X_test_freq['hl3_stat'] = X_test_freq['hl3_stat'].map(freq_encoding_hl3_stat)
X_test_freq['al3_stat'] = X_test_freq['al3_stat'].map(freq_encoding_al3_stat)

# Target encoding
target_encoder = TargetEncoder()
X_train_target = X_train.copy()
X_train_target[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat', 'al3_stat']] = target_encoder.fit_transform(X_train[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat', 'al3_stat']], y_train)
X_test_target = X_test.copy()
X_test_target[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat', 'al3_stat']] = target_encoder.transform(X_test[['hl_stat', 'al_stat', 'hl2_stat', 'al2_stat', 'hl3_stat', 'al3_stat']])

# Train random forest classifier on different encodings and evaluate accuracy
rfc_onehot = RandomForestClassifier(random_state=42)
rfc_onehot.fit(X_train_onehot, y_train)
y_pred_onehot = rfc_onehot.predict(X_test_onehot)
accuracy_onehot = accuracy_score(y_test, y_pred_onehot)

rfc_ordinal = RandomForestClassifier(random_state=42)
rfc_ordinal.fit(X_train_ordinal, y_train)
y_pred_ordinal = rfc_ordinal.predict(X_test_ordinal)
accuracy_ordinal = accuracy_score(y_test, y_pred_ordinal)

rfc_label = RandomForestClassifier(random_state=42)
rfc_label.fit(X_train_label, y_train)
y_pred_label = rfc_label.predict(X_test_label)
accuracy_label = accuracy_score(y_test, y_pred_label)

rfc_freq = RandomForestClassifier(random_state=42)
rfc_freq.fit(X_train_freq, y_train)
y_pred_freq = rfc_freq.predict(X_test_freq)
accuracy_freq = accuracy_score(y_test, y_pred_freq)

rfc_target = RandomForestClassifier(random_state=42)
rfc_target.fit(X_train_target, y_train)
y_pred_target = rfc_target.predict(X_test_target)
accuracy_target = accuracy_score(y_test, y_pred_target)

print('Accuracy with one-hot encoding:', accuracy_onehot)
print('Accuracy with ordinal encoding:', accuracy_ordinal)
print('Accuracy with label encoding:', accuracy_label)
print('Accuracy with frequency encoding:', accuracy_freq)
print('Accuracy with target encoding:', accuracy_target)

ModuleNotFoundError: No module named 'category_encoders'