# Analyzing the data

In [397]:
# import pandas as pd
# import numpy as np

# # data 5 is bad and 9 is largest

# df = pd.read_csv("odds_datas/test_9_odds_data.csv") # odds_data
# df["T_goals"] = df["H_score"] + df["A_score"]
# df

# STRATEGIES

### All Odds Data

In [422]:
import pandas as pd
import numpy as np

# data 5 is baddest and 9 is largest

df = pd.read_csv("odds_datas/test_16_odds_data.csv") # odds_data

check_list = []
odd_list = []
for _, row in df.iterrows():
    check_list.append((row["week"], len(check_list)+1, row["over_3"], row["H_score"], row["A_score"]))
    if len(check_list) == 10:
        # print(check_list)
        sorted_odds = sorted(check_list, key=lambda x: x[2], reverse=True)
        all_odds = [x[2] for x in sorted_odds]
        for odd in sorted_odds:
            if all_odds.count(odd[2]) == 1:
                odd_list.append(odd)
                break               
        check_list = []

new_df = pd.DataFrame(odd_list, columns=["week", "odd_position_num", "odd", "H_score", "A_score"])
print("Total Stake: ", len(new_df))

print("Mean Odd:", np.mean(new_df["odd"]))
new_df["T_goals"] = new_df["H_score"] + new_df["A_score"]
new_df

Total Stake:  61
Mean Odd: 3.7057377049180324

    week  odd_position_num   odd  H_score  A_score  T_goals
0     15                 8  3.43        0        2        2
1     16                 3  3.83        3        2        5
2     17                 4  3.83        3        1        4
3     18                 4  3.76        1        1        2
4     19                 4  3.85        3        1        4
..   ...               ...   ...      ...      ...      ...
56    34                10  3.83        2        0        2
57    35                 1  3.76        1        0        1
58    36                 3  3.76        1        0        1
59    37                 1  3.76        0        0        0
60    38                 2  3.76        1        1        2

[61 rows x 6 columns]

In [423]:
count = 1
martingale_list = []
for x in new_df["T_goals"]:
    if x > 3:
        # print(count)
        martingale_list.append(count)
        count = 1             
    else:
        count += 1

print("Total Wins:", len(martingale_list))
print(martingale_list)
print(sorted(martingale_list, reverse=True)[:100])
print("Hightest Martingale Level:", max(martingale_list))

Total Wins: 21
[2, 1, 2, 3, 2, 1, 1, 9, 1, 3, 1, 1, 5, 2, 4, 4, 2, 3, 1, 1, 7]
[9, 7, 5, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1]
Hightest Martingale Level: 9

# New over_3 Data

### Martingale vs Single Stake Strategy

In [428]:
import pandas as pd
import numpy as np

# df = new_df.copy()
df = pd.read_csv("auto_trade.csv")
df["T_goals"] = df["H_score"] + df["A_score"] 
print("TOTAL GAMES:", len(df), "\n")

# Split the rows
split_size = 38
array = df.copy().to_numpy()
split_arrays = np.array_split(array, range(split_size, len(array), split_size))

# Convert the split arrays back to DataFrames
split_dfs = [pd.DataFrame(arr, columns=df.columns) for arr in split_arrays]

# Access the split DataFrames
for odd_df in split_dfs:
    # print(split_df)

    bankroll = 100000
    loss_amount = 3700
    highest_loss = -(loss_amount * 3)
    print("Highest Loss :", highest_loss)

    mart_single_target_prtg = 1
    mart_single_target = (mart_single_target_prtg * bankroll) / 100
    print("Single Target -", mart_single_target)

    total_target_prtg = 3
    total_target = (total_target_prtg * bankroll) / 100
    print("Total Target -", total_target, "\n")


    single_bankroll = 0
    single_stake = 1000
    single_bankroll_list = []

    martingale_bankroll = 0
    total_loss = 0
    martingale_bankroll_list = []
    mart_counter = 0
    single_counter = 0

    for _, row in odd_df.iterrows():
        if row["T_goals"] > 3:
            if single_counter <= 5:
                single_bankroll += (row["odd"] - 1) * single_stake
            single_counter = 0
            if mart_counter <= 5:
                martingale_bankroll += mart_single_target 
            mart_counter = 0
        else:
            single_counter += 1
            if single_counter <= 5:
                single_bankroll -= single_stake
            mart_counter += 1
            if mart_counter == 5:
                martingale_bankroll -= loss_amount
        martingale_bankroll_list.append(int(martingale_bankroll))
        single_bankroll_list.append(int(single_bankroll))

    odd_df["Single_Bankroll"] = single_bankroll_list
    odd_df["Check_single"] = np.where(odd_df["Single_Bankroll"] >= total_target, "Achieved", "-")

    odd_df["Martingale_Bankroll"] = martingale_bankroll_list    
    odd_df["Check_Martingale"] = np.where(odd_df["Martingale_Bankroll"] >= total_target, "Achieved", "-")   
    print("TOTAL GAMES:", len(odd_df))


    mart_targets = odd_df[odd_df["Check_Martingale"] == "Achieved"]
    single_targets = odd_df[odd_df["Check_single"] == "Achieved"]

    mart_single_list = [mart_targets, single_targets]

    for temp in range(len(mart_single_list)):
        val = "Martingale_Bankroll" if temp == 0 else "Single_Bankroll"
        if len(mart_single_list[temp]) > 0:
            print("\n--->", val.upper(), "STRATEGY <---")
            print("     Target Amount:", mart_single_list[temp][val].iloc[0])
            print("     Target Position:", (mart_single_list[temp].head(1).index[0]) + 1)

            # Highest values
            print("    ", "-" * 20)
            print("     Highest Profit:", mart_single_list[temp][val].max())
            print("     Highest Profit POSITION:", (odd_df[odd_df[val] == mart_single_list[temp][val].max()].index[0]) + 1)

        if odd_df[val].min() < 0:
            print("    ", "-" * 20)
            print("     Maximum Loss:", odd_df[odd_df[val] < 0][val].min()) 
            print("     Maximum Loss POSITION:", (odd_df[odd_df[val] == odd_df[odd_df[val] < 0][val].min()].index[0]) + 1, "\n")

    print("*" * 100)

TOTAL GAMES: 303

Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38

---> MARTINGALE_BANKROLL STRATEGY <---
     Target Amount: 3000
     Target Position: 6
     --------------------
     Highest Profit: 15000
     Highest Profit POSITION: 38

---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 4610
     Target Position: 3
     --------------------
     Highest Profit: 19220
     Highest Profit POSITION: 34
****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38

---> MARTINGALE_BANKROLL STRATEGY <---
     Target Amount: 3300
     Target Position: 22
     --------------------
     Highest Profit: 5300
     Highest Profit POSITION: 26
     --------------------
     Maximum Loss: -1700
     Maximum Loss POSITION: 8


---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 4430
     Target Position: 3
     --------------------
     Highest Profit: 11580
     Highest Profit POSITION: 37
     --------------------
     Maximum Loss: -1570
     Maximum Loss POSITION: 12

****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38

---> MARTINGALE_BANKROLL STRATEGY <---
     Target Amount: 3000
     Target Position: 7
     --------------------
     Highest Profit: 4300
     Highest Profit POSITION: 25
     --------------------
     Maximum Loss: -3100
     Maximum Loss POSITION: 37


---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 4610
     Target Position: 7
     --------------------
     Highest Profit: 11590
     Highest Profit POSITION: 25
     --------------------
     Maximum Loss: -3000
     Maximum Loss POSITION: 3

****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38

---> MARTINGALE_BANKROLL STRATEGY <---
     Target Amount: 3000
     Target Position: 5
     --------------------
     Highest Profit: 7300
     Highest Profit POSITION: 28

---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 5360
     Target Position: 2
     --------------------
     Highest Profit: 16840
     Highest Profit POSITION: 28
****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38
     --------------------
     Maximum Loss: -7400
     Maximum Loss POSITION: 12

     --------------------
     Maximum Loss: -10000
     Maximum Loss POSITION: 12

****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38
     --------------------
     Maximum Loss: -4400
     Maximum Loss POSITION: 19


---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 5780
     Target Position: 31
     --------------------
     Highest Profit: 5780
     Highest Profit POSITION: 31
     --------------------
     Maximum Loss: -5610
     Maximum Loss POSITION: 27

****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 38

---> MARTINGALE_BANKROLL STRATEGY <---
     Target Amount: 3300
     Target Position: 31
     --------------------
     Highest Profit: 6300
     Highest Profit POSITION: 38
     --------------------
     Maximum Loss: -1700
     Maximum Loss POSITION: 13

     --------------------
     Maximum Loss: -7010
     Maximum Loss POSITION: 17

****************************************************************************************************
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

TOTAL GAMES: 37
     --------------------
     Maximum Loss: -8800
     Maximum Loss POSITION: 29


---> SINGLE_BANKROLL STRATEGY <---
     Target Amount: 5010
     Target Position: 2
     --------------------
     Highest Profit: 5010
     Highest Profit POSITION: 2
     --------------------
     Maximum Loss: -11110
     Maximum Loss POSITION: 37

****************************************************************************************************

In [230]:
# For 3% Target
martingale_strategy = [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
single_stake_strategy = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
better_performance = ["S", "S", "S", "M", "S", "M", "S", "S", "S", "S", "S", "S", "M", "", "S", "S"]

In [421]:
odd_df.head(50)

,week,odd_position_num,odd,H_score,A_score,T_goals,Single_Bankroll,Check_single,Martingale_Bankroll,Check_Martingale
0,20.0,8.0,3.85,3.0,1.0,4.0,2850,-,1000,-
1,21.0,5.0,3.76,1.0,0.0,1.0,1850,-,1000,-
2,22.0,6.0,3.76,1.0,0.0,1.0,850,-,1000,-
3,23.0,6.0,3.88,4.0,1.0,5.0,3730,Achieved,2000,-
4,24.0,10.0,3.76,1.0,2.0,3.0,2730,-,2000,-
5,25.0,1.0,3.88,1.0,1.0,2.0,1730,-,2000,-
6,26.0,8.0,3.85,3.0,1.0,4.0,4580,Achieved,3000,Achieved
7,27.0,1.0,3.85,1.0,1.0,2.0,3580,Achieved,3000,Achieved
8,28.0,4.0,3.76,2.0,1.0,3.0,2580,-,3000,Achieved
9,29.0,6.0,3.85,1.0,0.0,1.0,1580,-,3000,Achieved
10,30.0,1.0,3.53,1.0,0.0,1.0,580,-,3000,Achieved

In [392]:
odd_df[50: 100]

,week,odd_position_num,odd,H_score,A_score,T_goals,Single_Bankroll,Check_single,Martingale_Bankroll,Check_Martingale
50,23.0,2.0,3.83,0.0,2.0,2.0,-520,-,-1400,-
51,24.0,6.0,3.85,2.0,3.0,5.0,-520,-,-1400,-
52,25.0,5.0,3.76,4.0,1.0,5.0,2240,-,-400,-
53,26.0,7.0,3.85,0.0,2.0,2.0,1240,-,-400,-
54,27.0,4.0,3.48,4.0,2.0,6.0,3720,Achieved,600,-
55,28.0,9.0,3.85,2.0,2.0,4.0,6570,Achieved,1600,-
56,29.0,3.0,3.43,2.0,1.0,3.0,5570,Achieved,1600,-
57,30.0,1.0,3.45,1.0,0.0,1.0,4570,Achieved,1600,-
58,31.0,6.0,3.83,0.0,2.0,2.0,3570,Achieved,1600,-
59,32.0,5.0,3.43,1.0,3.0,4.0,6000,Achieved,2600,-
60,33.0,3.0,3.85,2.0,2.0,4.0,8850,Achieved,3600,Achieved
61,34.0,8.0,3.83,0.0,1.0,1.0,7850,Achieved,3600,Achieved
62,35.0,4.0,3.85,2.0,3.0,5.0,10700,Achieved,4600,Achieved
63,36.0,7.0,3.88,1.0,0.0,1.0,9700,Achieved,4600,Achieved
64,37.0,10.0,3.45,1.0,3.0,4.0,12150,Achieved,5600,Achieved
65,38.0,7.0,3.88,2.0,2.0,4.0,15030,Achieved,6600,Achieved
66,1.0,10.0,3.76,1.0,1.0,2.0,14030,Achieved,6600,Achieved
67,2.0,8.0,3.83,2.0,0.0,2.0,13030,Achieved,6600,Achieved
68,3.0,9.0,3.85,1.0,2.0,3.0,12030,Achieved,6600,Achieved
69,4.0,8.0,3.83,1.0,1.0,2.0,11030,Achieved,6600,Achieved
70,5.0,7.0,3.47,2.0,2.0,4.0,13500,Achieved,7600,Achieved
71,6.0,9.0,3.83,1.0,1.0,2.0,12500,Achieved,7600,Achieved
72,7.0,5.0,3.88,1.0,1.0,2.0,11500,Achieved,7600,Achieved
73,8.0,9.0,3.43,1.0,1.0,2.0,10500,Achieved,7600,Achieved
74,9.0,7.0,3.88,5.0,1.0,6.0,13380,Achieved,8600,Achieved
75,10.0,8.0,3.76,2.0,2.0,4.0,16140,Achieved,9600,Achieved
76,11.0,7.0,3.21,0.0,2.0,2.0,15140,Achieved,9600,Achieved
77,12.0,5.0,3.83,2.0,4.0,6.0,17970,Achieved,10600,Achieved
78,13.0,9.0,3.58,3.0,1.0,4.0,20550,Achieved,11600,Achieved
79,14.0,6.0,3.53,3.0,2.0,5.0,23080,Achieved,12600,Achieved
80,15.0,1.0,3.88,2.0,0.0,2.0,22080,Achieved,12600,Achieved
81,16.0,1.0,3.43,1.0,2.0,3.0,21080,Achieved,12600,Achieved
82,17.0,9.0,3.41,2.0,4.0,6.0,23490,Achieved,13600,Achieved
83,18.0,5.0,3.83,1.0,2.0,3.0,22490,Achieved,13600,Achieved
84,19.0,2.0,3.42,1.0,2.0,3.0,21490,Achieved,13600,Achieved
85,20.0,9.0,3.76,4.0,1.0,5.0,24250,Achieved,14600,Achieved
86,21.0,6.0,3.85,1.0,4.0,5.0,27100,Achieved,15600,Achieved
87,22.0,5.0,3.83,2.0,0.0,2.0,26100,Achieved,15600,Achieved
88,23.0,9.0,3.85,1.0,0.0,1.0,25100,Achieved,15600,Achieved

In [322]:
odd_df[100: 150]

,week,odd_position_num,odd,H_score,A_score,T_goals,Single_Bankroll,Check_single,Martingale_Bankroll,Check_Martingale
100,7.0,1.0,3.85,1.0,0.0,1.0,4640,Achieved,-2200,-
101,8.0,1.0,3.40,2.0,1.0,3.0,4640,Achieved,-2200,-
102,9.0,8.0,3.88,1.0,0.0,1.0,4640,Achieved,-2200,-
103,10.0,9.0,3.85,0.0,2.0,2.0,4640,Achieved,-2200,-
104,11.0,8.0,3.85,2.0,1.0,3.0,4640,Achieved,-2200,-
105,12.0,7.0,3.58,0.0,0.0,0.0,4640,Achieved,-2200,-
106,13.0,5.0,3.76,1.0,0.0,1.0,4640,Achieved,-2200,-
107,14.0,10.0,3.88,0.0,0.0,0.0,4640,Achieved,-2200,-
108,15.0,3.0,3.85,0.0,3.0,3.0,4640,Achieved,-2200,-
109,16.0,4.0,3.83,3.0,1.0,4.0,4640,Achieved,-2200,-
110,17.0,9.0,3.85,2.0,3.0,5.0,7490,Achieved,-1200,-
111,18.0,1.0,3.83,1.0,1.0,2.0,6490,Achieved,-1200,-
112,19.0,2.0,3.76,0.0,2.0,2.0,5490,Achieved,-1200,-
113,20.0,2.0,3.76,0.0,0.0,0.0,4490,Achieved,-1200,-
114,21.0,8.0,3.88,0.0,1.0,1.0,3490,Achieved,-1200,-
115,22.0,9.0,3.85,2.0,3.0,5.0,6340,Achieved,-200,-
116,23.0,7.0,3.85,2.0,3.0,5.0,9190,Achieved,800,-
117,24.0,9.0,3.85,3.0,0.0,3.0,8190,Achieved,800,-
118,25.0,7.0,3.85,3.0,2.0,5.0,11040,Achieved,1800,-
119,26.0,3.0,3.45,1.0,0.0,1.0,10040,Achieved,1800,-
120,27.0,7.0,3.88,3.0,0.0,3.0,9040,Achieved,1800,-
121,28.0,3.0,3.83,0.0,2.0,2.0,8040,Achieved,1800,-
122,29.0,3.0,3.83,2.0,0.0,2.0,7040,Achieved,1800,-
123,30.0,1.0,3.85,2.0,0.0,2.0,6040,Achieved,-1900,-
124,31.0,9.0,3.83,5.0,1.0,6.0,8870,Achieved,-900,-
125,32.0,4.0,3.85,3.0,1.0,4.0,11720,Achieved,100,-
126,33.0,9.0,3.45,1.0,2.0,3.0,10720,Achieved,100,-
127,34.0,8.0,3.88,4.0,0.0,4.0,13600,Achieved,1100,-
128,35.0,9.0,3.85,1.0,1.0,2.0,12600,Achieved,1100,-
129,36.0,2.0,3.83,0.0,2.0,2.0,11600,Achieved,1100,-
130,37.0,9.0,3.85,0.0,0.0,0.0,10600,Achieved,1100,-
131,38.0,6.0,3.76,2.0,1.0,3.0,9600,Achieved,1100,-
132,1.0,1.0,3.85,3.0,1.0,4.0,12450,Achieved,2100,-
133,2.0,9.0,3.85,2.0,2.0,4.0,15300,Achieved,3100,Achieved
134,3.0,8.0,3.85,0.0,1.0,1.0,14300,Achieved,3100,Achieved
135,4.0,6.0,3.88,5.0,0.0,5.0,17180,Achieved,4100,Achieved
136,5.0,5.0,3.76,1.0,1.0,2.0,16180,Achieved,4100,Achieved
137,6.0,1.0,3.29,2.0,0.0,2.0,15180,Achieved,4100,Achieved
138,7.0,5.0,3.85,0.0,0.0,0.0,14180,Achieved,4100,Achieved
139,8.0,8.0,3.88,3.0,2.0,5.0,17060,Achieved,5100,Achieved
140,9.0,10.0,3.32,2.0,2.0,4.0,19380,Achieved,6100,Achieved
141,10.0,5.0,3.85,0.0,0.0,0.0,18380,Achieved,6100,Achieved
142,11.0,9.0,3.76,1.0,2.0,3.0,17380,Achieved,6100,Achieved
143,12.0,5.0,3.85,0.0,1.0,1.0,16380,Achieved,6100,Achieved
144,13.0,4.0,3.76,1.0,1.0,2.0,15380,Achieved,6100,Achieved
145,14.0,6.0,3.88,2.0,1.0,3.0,14380,Achieved,2400,-
146,15.0,1.0,3.32,0.0,2.0,2.0,14380,Achieved,2400,-
147,16.0,7.0,3.83,2.0,0.0,2.0,14380,Achieved,2400,-
148,17.0,7.0,3.76,2.0,1.0,3.0,14380,Achieved,2400,-
149,18.0,4.0,3.85,0.0,2.0,2.0,14380,Achieved,2400,-

In [246]:
odd_df[150: 200]

,week,odd_position_num,odd,H_score,A_score,T_goals,Single_Bankroll,Check_single,Martingale_Bankroll,Check_Martingale
150,37,10,3.40,2,3,5,5600,Achieved,5400,Achieved
151,38,10,3.43,3,2,5,8030,Achieved,6400,Achieved
152,1,10,3.08,0,2,2,7030,Achieved,6400,Achieved
153,2,4,3.85,0,0,0,6030,Achieved,6400,Achieved
154,3,1,3.76,1,5,6,8790,Achieved,7400,Achieved
155,4,5,3.76,3,0,3,7790,Achieved,7400,Achieved
156,5,7,3.29,1,1,2,6790,Achieved,7400,Achieved
157,6,2,3.53,2,0,2,5790,Achieved,7400,Achieved
158,7,6,3.83,2,4,6,8620,Achieved,8400,Achieved
159,8,6,3.85,1,0,1,7620,Achieved,8400,Achieved
160,9,5,3.88,4,2,6,10500,Achieved,9400,Achieved
161,10,5,3.85,2,0,2,9500,Achieved,9400,Achieved
162,11,5,3.88,0,1,1,8500,Achieved,9400,Achieved
163,12,9,3.83,0,0,0,7500,Achieved,9400,Achieved
164,13,3,3.85,3,1,4,10350,Achieved,10400,Achieved
165,14,6,3.88,2,1,3,9350,Achieved,10400,Achieved
166,15,4,3.83,0,0,0,8350,Achieved,10400,Achieved
167,16,2,3.76,2,0,2,7350,Achieved,10400,Achieved

In [176]:

count = 1
martingale_list = []
for x in odd_df["T_goals"]:
    if x > 3:
        # print(count)
        martingale_list.append(count)
        count = 1             
    else:
        count += 1

print(martingale_list)
print(sorted(martingale_list, reverse=True)[:50])
print("Hightest Martingale Level:", max(martingale_list))


single_target = 1000
loss_amount = 3700

win_length = sorted(martingale_list, reverse=True)
total_diff = 0
for x in win_length:
    if x > 5:
        total_diff += 1
    else:
        break
print("\nTotal Played:", len(martingale_list))
print("Total Lost:", total_diff)
won = len(martingale_list) - total_diff
print("Total Won:", won)
print("Profit/Loss Amount:", (won * single_target) - (total_diff * loss_amount))

[1, 4, 2, 4, 10, 1, 11, 2, 7, 3, 2, 6, 8, 6, 1, 8, 1, 3, 3, 1, 2, 2, 2, 15, 1, 3, 3, 3, 6, 1, 4, 1, 1, 1, 3, 4, 3, 2, 1, 2, 3, 4, 6, 1, 2, 1, 4, 9, 2, 2, 2, 1, 1, 2, 3, 9, 31, 4, 1, 4, 3, 3, 9, 4, 14, 4, 1, 1, 1, 2, 6, 3]
[31, 15, 14, 11, 10, 9, 9, 9, 8, 8, 7, 6, 6, 6, 6, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
Hightest Martingale Level: 31

Total Played: 72
Total Lost: 16
Total Won: 56
Profit/Loss Amount: -3200

## Single Stake Strategy

In [154]:
targets = odd_df[odd_df["Check_single"] == "Achieved"]
print("Total Games:", len(odd_df))
print("Target Position:", (targets.head(1).index[0]) + 1)

# Highest Profit
print("Highest Profit:", targets["Single_Bankroll"].max())
print("Highest Profit POSITION:", (odd_df[odd_df["Single_Bankroll"] == targets["Single_Bankroll"].max()].index[0]) + 1)

Total Games: 27
Target Position: 26
Highest Profit: 6820
Highest Profit POSITION: 26

In [155]:
targets

,week,odd_position_num,odd,H_score,A_score,T_goals,Single_Bankroll,Check_single,Martingale_Bankroll,Check_Martingale
25,8,8,3.85,4,2,6,6820,Achieved,-18500,-
26,9,9,3.42,0,1,1,5820,Achieved,-18500,-