# Analyzing the data

In [7]:
import pandas as pd
import numpy as np

# data 5 is bad and 9 is largest

df = pd.read_csv("odds datas/test_13_odds_data.csv") # odds_data
df["T_goals"] = df["H_score"] + df["A_score"]
df

,week,HT,HT.1,home,draw,away,over_1,under_1,over_2,under_2,over_3,under_3,over_4,under_4,H_score,A_score,T_goals
0,36,FOR,BUR,1.95,3.29,4.25,1.33,3.33,2.08,1.75,3.83,1.26,9.27,1.06,1,1,2
1,36,NWC,EVE,1.65,3.63,5.82,1.21,4.47,1.73,2.11,2.87,1.42,6.30,1.12,2,0,2
2,36,MNU,ARS,2.86,3.54,2.38,1.24,4.04,1.80,2.02,3.13,1.36,6.99,1.10,1,0,1
3,36,TOT,BRI,2.38,3.20,3.13,1.26,3.84,1.88,1.92,3.26,1.34,7.47,1.09,3,3,6
4,36,MNC,CRY,1.42,4.55,7.93,1.19,4.74,1.63,2.27,2.69,1.47,5.54,1.14,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,3,FOR,EVE,2.29,3.02,3.53,1.33,3.35,2.07,1.75,3.76,1.27,9.27,1.06,0,0,0
2316,3,BRN,FUL,1.77,3.43,5.15,1.27,3.78,1.89,1.91,3.29,1.33,7.54,1.08,3,0,3
2317,3,MNU,LIV,2.43,3.24,3.02,1.24,4.01,1.83,1.98,3.14,1.36,7.10,1.09,1,2,3
2318,3,TOT,CHE,2.48,3.20,2.98,1.26,3.83,1.88,1.92,3.26,1.34,7.53,1.09,1,0,1
2319,3,SHU,WOL,3.02,3.19,2.46,1.27,3.78,1.88,1.92,3.30,1.33,7.58,1.08,0,1,1

In [8]:
check_list = []
odd_list = []
for val_1, val_2 in zip(df["over_3"], df["T_goals"]):
    check_list.append((val_1, val_2))
    if len(check_list) == 10:
        # print(check_list)
        sorted_odds = sorted(check_list, key=lambda x: x[0], reverse=True)
        all_odds = [x[0] for x in sorted_odds]
        for odd in sorted_odds:
            if all_odds.count(odd[0]) == 1:
                odd_list.append(odd)
                break               
        check_list = []

print("Total Stake: ", len(odd_list))

# Extract the first indexes into a separate list
first_indexes = [x[0] for x in odd_list]
mean = np.mean(first_indexes)
print("Mean Odd:", np.mean(first_indexes))
# odd_list

Total Stake:  232
Mean Odd: 3.738706896551724

In [9]:
count = 1
martingale_list = []
for x in odd_list:
    if x[1] > 3:
        # print(count)
        martingale_list.append(count)
        count = 1             
    else:
        count += 1

print(martingale_list)
print(sorted(martingale_list, reverse=True)[:50])
print("Hightest Martingale Level:", max(martingale_list))

[4, 5, 2, 2, 3, 1, 1, 2, 6, 1, 1, 1, 1, 9, 8, 2, 1, 1, 8, 7, 1, 5, 3, 11, 17, 6, 8, 1, 1, 2, 2, 1, 3, 9, 1, 2, 4, 8, 2, 1, 6, 5, 1, 13, 17, 4, 2, 4, 9, 3, 6]
[17, 17, 13, 11, 9, 9, 9, 8, 8, 8, 8, 7, 6, 6, 6, 6, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Hightest Martingale Level: 17

In [10]:

bankroll = 100000
loss_amount = 3700
highest_loss = -(loss_amount * 3)
print("Highest Loss :", highest_loss)

single_target_prtg = 1
single_target = (single_target_prtg * bankroll) / 100
print("Single Target -", single_target)

total_target_prtg = 3
total_target = (total_target_prtg * bankroll) / 100
print("Total Target -", total_target, "\n")

total_profit = 0
total_loss = 0
for val in martingale_list:
    if val <= 5:
        total_profit += single_target 
        print("WIN :", total_profit)
        if total_profit >= total_target:
            print("---> Target Achieved <---")
    else:
        total_profit -= loss_amount
        print("LOSE :", total_profit)
        if total_profit <= highest_loss:
            print("----------------------------------Stop Loss Reached")

Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

WIN : 1000.0
WIN : 2000.0
WIN : 3000.0
---> Target Achieved <---
WIN : 4000.0
---> Target Achieved <---
WIN : 5000.0
---> Target Achieved <---
WIN : 6000.0
---> Target Achieved <---
WIN : 7000.0
---> Target Achieved <---
WIN : 8000.0
---> Target Achieved <---
LOSE : 4300.0
WIN : 5300.0
---> Target Achieved <---
WIN : 6300.0
---> Target Achieved <---
WIN : 7300.0
---> Target Achieved <---
WIN : 8300.0
---> Target Achieved <---
LOSE : 4600.0
LOSE : 900.0
WIN : 1900.0
WIN : 2900.0
WIN : 3900.0
---> Target Achieved <---
LOSE : 200.0
LOSE : -3500.0
WIN : -2500.0
WIN : -1500.0
WIN : -500.0
LOSE : -4200.0
LOSE : -7900.0
LOSE : -11600.0
----------------------------------Stop Loss Reached
LOSE : -15300.0
----------------------------------Stop Loss Reached
WIN : -14300.0
WIN : -13300.0
WIN : -12300.0
WIN : -11300.0
WIN : -10300.0
WIN : -9300.0
LOSE : -13000.0
----------------------------------Stop Loss Reached
WIN : -12000.0
WIN : -11000.0
WIN : -10000.0
LOSE : -13700.0
----------------------------------Stop Loss Reached
WIN : -12700.0
WIN : -11700.0
LOSE : -15400.0
----------------------------------Stop Loss Reached
WIN : -14400.0
WIN : -13400.0
LOSE : -17100.0
----------------------------------Stop Loss Reached
LOSE : -20800.0
----------------------------------Stop Loss Reached
WIN : -19800.0
WIN : -18800.0
WIN : -17800.0
LOSE : -21500.0
----------------------------------Stop Loss Reached
WIN : -20500.0
LOSE : -24200.0
----------------------------------Stop Loss Reached

In [ ]:
win_length = sorted(martingale_list, reverse=True)
total_diff = 0
for x in win_length:
    if x > 5:
        total_diff += 1
    else:
        break
print("Losses:", total_diff)
print("Wins:", len(martingale_list) - total_diff)

In [6]:
import pandas as pd
import numpy as np

# data 5 is bad and 9 is largest

df = pd.read_csv("odds datas/test_13_odds_data.csv") # odds_data
df["T_goals"] = df["H_score"] + df["A_score"]
df

total_rows = len(df)
print("Len:", total_rows)

# Split the rows by 10
split_size = 380

# Create a list to store the split DataFrames
split_dfs = []

# Iterate over the range of rows and split the DataFrame
for i in range(0, total_rows, split_size):
    split_df = df[i:i+split_size]
    split_dfs.append(split_df)

# Access the split DataFrames
for split_df in split_dfs:
    print("*" * 100)
    print("df_len:", len(split_df))
    check_list = []
    odd_list = []
    for val_1, val_2 in zip(split_df["over_3"], split_df["T_goals"]):
        check_list.append((val_1, val_2))
        if len(check_list) == 10:
            # print(check_list)
            sorted_odds = sorted(check_list, key=lambda x: x[0], reverse=True)
            all_odds = [x[0] for x in sorted_odds]
            for odd in sorted_odds:
                if all_odds.count(odd[0]) == 1:
                    odd_list.append(odd)
                    break               
            check_list = []

    print("Total Stake: ", len(odd_list))

    # Extract the first indexes into a separate list
    first_indexes = [x[0] for x in odd_list]
    mean = np.mean(first_indexes)
    print("Mean Odd:", np.mean(first_indexes))
    # print(odd_list)

    count = 1
    martingale_list = []
    for x in odd_list:
        if x[1] > 3:
            # print(count)
            martingale_list.append(count)
            count = 1             
        else:
            count += 1

    print(martingale_list)
    print(sorted(martingale_list, reverse=True)[:50])
    print("Hightest Martingale Level:", max(martingale_list))

    bankroll = 100000
    loss_amount = 3700
    highest_loss = -(loss_amount * 3)
    print("Highest Loss :", highest_loss)

    single_target_prtg = 1
    single_target = (single_target_prtg * bankroll) / 100
    print("Single Target -", single_target)

    total_target_prtg = 3
    total_target = (total_target_prtg * bankroll) / 100
    print("Total Target -", total_target, "\n")

    total_profit = 0
    total_loss = 0
    for val in martingale_list:
        if val <= 5:
            total_profit += single_target 
            print("WIN :", total_profit)
            if total_profit >= total_target:
                print("---> Target Achieved <---")
        else:
            total_profit -= loss_amount
            print("LOSE :", total_profit)
            if total_profit <= highest_loss:
                print("----------------------------------Stop Loss Reached")

Len: 2320
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.7536842105263153
[4, 5, 2, 2, 3, 1, 1, 2, 6, 1, 1, 1, 1]
[6, 5, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1]
Hightest Martingale Level: 6
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

WIN : 1000.0
WIN : 2000.0
WIN : 3000.0
---> Target Achieved <---
WIN : 4000.0
---> Target Achieved <---
WIN : 5000.0
---> Target Achieved <---
WIN : 6000.0
---> Target Achieved <---
WIN : 7000.0
---> Target Achieved <---
WIN : 8000.0
---> Target Achieved <---
LOSE : 4300.0
WIN : 5300.0
---> Target Achieved <---
WIN : 6300.0
---> Target Achieved <---
WIN : 7300.0
---> Target Achieved <---
WIN : 8300.0
---> Target Achieved <---
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.745
[1, 8, 2, 1, 1, 8, 7, 1, 5, 3]
[8, 8, 7, 5, 3, 2, 1, 1, 1, 1]
Hightest Martingale Level: 8
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

WIN : 1000.0
LOSE : -2700.0
WIN : -1700.0
WIN : -700.0
WIN : 300.0
LOSE : -3400.0
LOSE : -7100.0
WIN : -6100.0
WIN : -5100.0
WIN : -4100.0
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.7434210526315788
[10, 17, 6]
[17, 10, 6]
Hightest Martingale Level: 17
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

LOSE : -3700
LOSE : -7400
LOSE : -11100
----------------------------------Stop Loss Reached
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.7673684210526317
[3, 1, 1, 2, 2, 1, 3, 9, 1, 2, 4, 8]
[9, 8, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1]
Hightest Martingale Level: 9
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

WIN : 1000.0
WIN : 2000.0
WIN : 3000.0
---> Target Achieved <---
WIN : 4000.0
---> Target Achieved <---
WIN : 5000.0
---> Target Achieved <---
WIN : 6000.0
---> Target Achieved <---
WIN : 7000.0
---> Target Achieved <---
LOSE : 3300.0
WIN : 4300.0
---> Target Achieved <---
WIN : 5300.0
---> Target Achieved <---
WIN : 6300.0
---> Target Achieved <---
LOSE : 2600.0
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.7223684210526304
[1, 1, 6, 5, 1, 13]
[13, 6, 5, 1, 1, 1]
Hightest Martingale Level: 13
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

WIN : 1000.0
WIN : 2000.0
LOSE : -1700.0
WIN : -700.0
WIN : 300.0
LOSE : -3400.0
****************************************************************************************************
df_len: 380
Total Stake:  38
Mean Odd: 3.7052631578947364
[6, 4, 2, 4, 9, 3, 6]
[9, 6, 6, 4, 4, 3, 2]
Hightest Martingale Level: 9
Highest Loss : -11100
Single Target - 1000.0
Total Target - 3000.0

LOSE : -3700
WIN : -2700.0
WIN : -1700.0
WIN : -700.0
LOSE : -4400.0
WIN : -3400.0
LOSE : -7100.0
****************************************************************************************************
df_len: 40
Total Stake:  4
Mean Odd: 3.6925
[]
[]

ValueError: max() arg is an empty sequence

In [ ]:


temp_df = df.copy()
count = 2
weeks = df.shape[0] / 10 
for _ in range(int(weeks)):
    temp_df = temp_df[temp_df["week"] == count]

    check_list = []
    odd_list = []
    for val_1, val_2 in zip(temp_df["over_3"], temp_df["T_goals"]):
        check_list.append((val_1, val_2))
        if len(check_list) == 10:
            # print(check_list)
            sorted_odds = sorted(check_list, key=lambda x: x[0], reverse=True)
            all_odds = [x[0] for x in sorted_odds]
            for odd in sorted_odds:
                if all_odds.count(odd[0]) == 1:
                    odd_list.append(odd)
                    break               
            check_list = []

    print("Total Stake: ", len(odd_list))

    # Extract the first indexes into a separate list
    first_indexes = [x[0] for x in odd_list]
    mean = np.mean(first_indexes)
    print("Mean Odd:", np.mean(first_indexes))
    # odd_list